@charset "UTF-8";


/* a 태그 초기화 */
a{
  text-decoration: none;
  color: inherit;
}

/* IR 효과 */
/* 의미있는 이미지의 대체 텍스트를 제공하는 경우 */
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때 */
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 컨테이너 */
.contain{
  width: 84%;
  height: 80%;
  margin: 0 auto;
  overflow: hidden;
}

/* h 태그 */
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

/* strong, em */
strong, em{
  font-weight: bold;
}

/* button */
button{
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  border-radius: 0;
}

// 변수
$saera : #543832;
$wdicy : #717A63;
$nf : #836994;

// 믹스인
@mixin font ($size, $weight){
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: -0.6px;
}
