/* width 1024px (Tablet) */
@media (max-width: 1024px) {
  .contain {
    height: 90%;
  }
  .sec1 {
    .back-img {
      background-size: 70%;
    }
    p {
      font-size: 6vw;
      line-height: 9vw;
    }
  }
  .sec2 {
    .profile {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: flex-start;
      figure {
        width: 30%;
      }
      ul {
        width: 50%;
        margin-left: 5%;
        font-size: 16px;
        li span {
          font-size: 14px;
        }
      }
    }
    .introduce {
      width: 100%;
      height: auto;
      margin: 5% 0 0 0;
      font-size: 16px;
      flex-direction: row;
      flex-wrap: wrap;
      p {
        width: 50%;
      }
      .info {
        width: 45%;
        margin-left: 5%;
        font-size: 16px;
        .edu {
          width: 60%;
        }
        .license {
          width: 35%;
          margin-left: 5%;
        }
      }
      .ability {
        margin-top: 5%;
        .box {
          &.headbox {
            .tooltip {
              width: 80%;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .sec3-1 {
    .page_contain {
      height: 80%;
      .pages {
        flex-direction: column;
        figure {
          width: 100%;
          height: 40%;
          img {
            width: auto;
            height: 100%;
          }
        }
        .page_desc {
          width: 100%;
          h4 {
            width: 95%;
            margin: 20px auto;
          }
          p {
            width: 95%;
            margin: 20px auto;
          }
          .link {
            width: 95%;
            margin: 20px auto 0;
            a {
              width: 46.9%;
              margin: 5px 1%;
            }
          }
        }
      }
    }
  }
  .sec3-2 {
    .contain {
      flex-direction: column;
    }
    article {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 30%;
      padding: 20px;
      box-sizing: border-box;
      img {
        width: 15%;
        margin: 3%;
      }
      .desc_contain {
        width: 50%;
      }
      .btn_contain {
        width: 25%;
        position: static;
      }
    }
  }
  .sec4 {
    p {
      font-size: 7vw;
    }
    .contect {
      width: 90%;
    }
  }
}

/* width 768px (Mobile_L) */
@media (max-width: 768px) {
  .contain {
    margin: 5% auto;
  }
  .sec2 {
    .profile {
      figure {
        width: 50%;
      }
      ul {
        width: 50%;
      }
    }
    .introduce {
      p {
        width: 100%;
      }
      .info {
        width: 100%;
        margin: 5% 0 0 0;
        .edu {
          width: 100%;
        }
        .license {
          width: 100%;
          margin: 5% 0 0 0;
        }
      }
      .ability {
        flex-wrap: wrap;
        .box {
          width: 48%;
          margin: 2% 0;
        }
      }
    }
  }
  .sec3-1 {
    .contain {
      height: auto;
      display: flex;
      flex-direction: column-reverse;
    }
    .page_contain {
      margin-top: 10px;
      .pages {
        height: auto;
        overflow: hidden;
        figure {
          width: 100%;
          height: auto;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .page_selector {
      .tooltip {
        width: 42vw;
      }
      .page_icon {
        width: 14vw;
      }
      h3 {
        bottom: auto;
        top: 0;
      }
    }
  }
  .sec3-2 {
    .contain {
      flex-direction: column;
    }
    article {
      flex-wrap: wrap;
      margin: 2% 0;
      img {
        width: 15%;
        margin: 3%;
      }
      .desc_contain {
        width: 79%;
        h4 {
          margin: 2%;
          width: 96%;
        }
        p {
          margin: 2%;
          width: 96%;
        }
      }
      .btn_contain {
        width: 100%;
        position: static;
        a {
          width: 95%;
          margin: 10px 2.5%;
        }
      }
    }
  }
  .sec4 {
    p {
      width: 90%;
      margin: 0 auto;
    }
    .contect {
      width: 90%;
      li {
        font-size: 24px;
        &:last-of-type {
          font-size: 14px;
        }
        .copy {
          width: 24px;
          height: 32px;
        }
      }
    }
  }
}

/* width 480px (Mobile_S) */
@media (max-width: 480px) {
  .sec1 .back-img {
    background-size: contain;
  }
  .sec2 {
    .profile {
      flex-direction: column;
      justify-content: center;
      figure {
        width: 100%;
        text-align: center;
      }
      ul {
        width: 100%;
        margin-left: 0;
        li:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .introduce {
      .ability {
        flex-direction: column;
        align-items: center;
        .box {
          width: 90%;
        }
      }
    }
  }
  .sec3-1 {
    .page_contain {
      .pages {
        .page_desc {
          h4 {
            font-size: 20px;
          }
          p {
            font-size: 16px;
          }
          .link {
            a {
              width: 95%;
            }
          }
        }
      }
    }
    .page_selector {
      flex-wrap: wrap;
      justify-content: space-between;
      .tooltip {
        width: 97%;
      }
      .page_icon {
        width: 30%;
      }
      h3 {
        position: relative;
        margin-top: 10px;
        margin-left: auto;
        font-size: 24px;
      }
    }
  }
  .sec3-2 {
    article {
      .desc_contain {
        h4 {
          font-size: 20px;
        }
        p {
          font-size: 16px;
        }
      }
      .btn_contain a {
        font-size: 16px;
      }
    }
  }
  .sec4 {
    .cube_animation {
      $boxSize: 300px;
    }
    .contect {
      li {
        font-size: 20px;
        .copy {
          width: 20px;
          height: 28px;
        }
      }
    }
  }
}
