@media (max-width: 1024px){
  .contain{
    height: 90%;
  }
  .sec1{
    .back-img{
      background-size: 70%;
    }
    p{
      font-size: 6vw;
      line-height: 9vw;
    }
  }
  .sec2{
    .profile{
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: flex-start;
      figure{
        width: 30%;
      }
      ul{
        width: 50%;
        margin-left: 5%;
        font-size: 16px;
        li span{
          font-size: 14px;
        }
      }
    }
    .introduce{
      width: 100%;
      height: auto;
      margin: 5% 0 0 0 ;
      font-size: 16px;
      flex-direction: row;
      flex-wrap: wrap;
      p{
        width: 50%;
      }
      .info{
        width: 45%;
        margin-left: 5%;
        font-size: 16px;
        .edu{
          width: 60%;
        }
        .license{
          width: 35%;
          margin-left: 5%;
        }
      }
      .ability{
        margin-top: 5%;
        .box{
          &.headbox{
            .tooltip{
              width: 80%;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .sec3{
    .port1{
      .page_contain{
        height: 70%;
        .pages{
          flex-direction: column;
          figure{
            width: 100%;
            height: 40%;
            img{
              width: auto;
              height: 100%;
            }
          }
          .page_desc{
            width: 100%;
          }
        }
      }
      .page_selector{
        height: 30%;
      }
    }
  }
}

@media (max-width: 768px){
  .contain{
    margin: 5% auto;
  }
  .sec2{ 
    .profile{
      figure{
        width: 50%;
      }
      ul{
        width: 50%;
      }
    }
    .introduce{
      p{
        width: 100%;
      }
      .info{
        width: 100%;
        margin: 5% 0 0 0;
        .edu{
          width: 100%;
        }
        .license{
          width: 100%;
          margin: 5% 0 0 0;
        }
      }
      .ability{
        flex-wrap: wrap;
        .box{
          width: 45%;
          margin: 5% 0;
        }
      }
    }
  }
  .sec3{
    .port1{
      .contain{
        height: auto;
        display: flex;
        flex-direction: column-reverse;
      }
      .page_contain{
        width: auto;
        margin-top: 10px;
        .pages{
          height: auto;
          position: relative;
          display: none;
          &.active{
            display: block;
          }
          figure{
            width: 100%;
            height: auto;
            img{
              width: 100%;
              height: auto;
            }
          }
          .page_desc{
            h4{
              width: 95%;
              margin: 20px auto;
            }
            p{
              width: 95%;
              margin: 20px auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px){
  .sec1{
    .back-img{
      background-size: contain;
    }
  }
  .sec2{
    .profile{
      flex-direction: column;
      justify-content: center;
      figure{
        width: 100%;
        text-align: center;
      }
      ul{
        width: 100%;
        margin-left: 0;
        li:last-of-type{
          margin-bottom: 0;
        }
      }
    }
    .introduce{
      .ability{
        flex-direction: column;
        align-items: center;
        .box{
          width: 90%;
        }
      }
    }
  }
  .sec3{
    .port1{
      .page_contain{
        .pages{
          .page_desc{
            h4{
              font-size: 20px;
            }
            p{
              font-size: 16px;
            }
          }
        }
      }
      .page_selector{
        flex-wrap: wrap;
        justify-content: space-between;
        .page_icon{
          width: 30%;
        }
        h3{
          position: relative;
          margin-top: 10px;
          margin-left: auto;
          font-size: 24px;
        }
      }
    }
  }
}