/* width 1024px (Tablet) */
@media (max-width: 1024px) {
  .contain {
    height: 90%;
  }
  .sec1 .back-img {
    background-size: 70%;
  }
  .sec1 p {
    font-size: 6vw;
    line-height: 9vw;
  }
  .sec2 .profile {
    width: 100%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sec2 .profile figure {
    width: 30%;
  }
  .sec2 .profile ul {
    width: 50%;
    margin-left: 5%;
    font-size: 16px;
  }
  .sec2 .profile ul li span {
    font-size: 14px;
  }
  .sec2 .introduce {
    width: 100%;
    height: auto;
    margin: 5% 0 0 0;
    font-size: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sec2 .introduce p {
    width: 50%;
  }
  .sec2 .introduce .info {
    width: 45%;
    margin-left: 5%;
    font-size: 16px;
  }
  .sec2 .introduce .info .edu {
    width: 60%;
  }
  .sec2 .introduce .info .license {
    width: 35%;
    margin-left: 5%;
  }
  .sec2 .introduce .ability {
    margin-top: 5%;
  }
  .sec2 .introduce .ability .box.headbox .tooltip {
    width: 80%;
    font-size: 16px;
  }
  .sec3-1 .page_contain {
    height: 80%;
  }
  .sec3-1 .page_contain .pages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec3-1 .page_contain .pages figure {
    width: 100%;
    height: 40%;
  }
  .sec3-1 .page_contain .pages figure img {
    width: auto;
    height: 100%;
  }
  .sec3-1 .page_contain .pages .page_desc {
    width: 100%;
  }
  .sec3-1 .page_contain .pages .page_desc h4 {
    width: 95%;
    margin: 20px auto;
  }
  .sec3-1 .page_contain .pages .page_desc p {
    width: 95%;
    margin: 20px auto;
  }
  .sec3-1 .page_contain .pages .page_desc .link {
    width: 95%;
    margin: 20px auto 0;
  }
  .sec3-1 .page_contain .pages .page_desc .link a {
    width: 46.9%;
    margin: 5px 1%;
  }
  .sec3-2 .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec3-2 article {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 30%;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .sec3-2 article img {
    width: 15%;
    margin: 3%;
  }
  .sec3-2 article .desc_contain {
    width: 50%;
  }
  .sec3-2 article .btn_contain {
    width: 25%;
    position: static;
  }
  .sec4 p {
    font-size: 7vw;
  }
  .sec4 .contect {
    width: 90%;
  }
}

/* width 768px (Mobile_L) */
@media (max-width: 768px) {
  .contain {
    margin: 5% auto;
  }
  .sec2 .profile figure {
    width: 50%;
  }
  .sec2 .profile ul {
    width: 50%;
  }
  .sec2 .introduce p {
    width: 100%;
  }
  .sec2 .introduce .info {
    width: 100%;
    margin: 5% 0 0 0;
  }
  .sec2 .introduce .info .edu {
    width: 100%;
  }
  .sec2 .introduce .info .license {
    width: 100%;
    margin: 5% 0 0 0;
  }
  .sec2 .introduce .ability {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sec2 .introduce .ability .box {
    width: 48%;
    margin: 2% 0;
  }
  .sec3-1 .contain {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .sec3-1 .page_contain {
    margin-top: 10px;
  }
  .sec3-1 .page_contain .pages {
    height: auto;
    overflow: hidden;
  }
  .sec3-1 .page_contain .pages figure {
    width: 100%;
    height: auto;
  }
  .sec3-1 .page_contain .pages figure img {
    width: 100%;
    height: auto;
  }
  .sec3-1 .page_selector .tooltip {
    width: 42vw;
  }
  .sec3-1 .page_selector .page_icon {
    width: 14vw;
  }
  .sec3-1 .page_selector h3 {
    bottom: auto;
    top: 0;
  }
  .sec3-2 .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec3-2 article {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 2% 0;
  }
  .sec3-2 article img {
    width: 15%;
    margin: 3%;
  }
  .sec3-2 article .desc_contain {
    width: 79%;
  }
  .sec3-2 article .desc_contain h4 {
    margin: 2%;
    width: 96%;
  }
  .sec3-2 article .desc_contain p {
    margin: 2%;
    width: 96%;
  }
  .sec3-2 article .btn_contain {
    width: 100%;
    position: static;
  }
  .sec3-2 article .btn_contain a {
    width: 95%;
    margin: 10px 2.5%;
  }
  .sec4 p {
    width: 90%;
    margin: 0 auto;
  }
  .sec4 .contect {
    width: 90%;
  }
  .sec4 .contect li {
    font-size: 24px;
  }
  .sec4 .contect li:last-of-type {
    font-size: 14px;
  }
  .sec4 .contect li .copy {
    width: 24px;
    height: 32px;
  }
}

/* width 480px (Mobile_S) */
@media (max-width: 480px) {
  .sec1 .back-img {
    background-size: contain;
  }
  .sec2 .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sec2 .profile figure {
    width: 100%;
    text-align: center;
  }
  .sec2 .profile ul {
    width: 100%;
    margin-left: 0;
  }
  .sec2 .profile ul li:last-of-type {
    margin-bottom: 0;
  }
  .sec2 .introduce .ability {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec2 .introduce .ability .box {
    width: 90%;
  }
  .sec3-1 .page_contain .pages .page_desc h4 {
    font-size: 20px;
  }
  .sec3-1 .page_contain .pages .page_desc p {
    font-size: 16px;
  }
  .sec3-1 .page_contain .pages .page_desc .link a {
    width: 95%;
  }
  .sec3-1 .page_contain .pages .page_desc .page_selector {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec3-1 .page_contain .pages .page_desc .page_selector .tooltip {
    width: 97%;
  }
  .sec3-1 .page_contain .pages .page_desc .page_selector .page_icon {
    width: 30%;
  }
  .sec3-1 .page_contain .pages .page_desc .page_selector h3 {
    position: relative;
    margin-top: 10px;
    margin-left: auto;
    font-size: 24px;
  }
  .sec3-2 article .desc_contain h4 {
    font-size: 20px;
  }
  .sec3-2 article .desc_contain p {
    font-size: 16px;
  }
  .sec3-2 article .btn_contain a {
    font-size: 16px;
  }
  .sec4 .contect li {
    font-size: 20px;
  }
  .sec4 .contect li .copy {
    width: 20px;
    height: 28px;
  }
}
