.sec1{
  background-color: #5138be;
  position: relative;
  .back-img{
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url(../images/main_back.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
  }
  p{
    position: relative;
    z-index: 2;
    @include font(64px, bold);
    color: #fff;
    line-height: 98px;
    letter-spacing: 1.41px;
    text-align: center;
  }
}