@charset "UTF-8";
/* a 태그 초기화 */
a {
  text-decoration: none;
  color: inherit;
}

/* IR 효과 */
/* 의미있는 이미지의 대체 텍스트를 제공하는 경우 */
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때 */
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 컨테이너 */
.contain {
  width: 84%;
  height: 80%;
  margin: 0 auto;
  overflow: hidden;
}

/* h 태그 */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* strong, em */
strong, em {
  font-weight: bold;
}

/* button */
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  border-radius: 0;
}

body {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
}

.sec1 {
  background-color: #5138be;
  position: relative;
}

.sec1 .back-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/main_back.png);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: center;
  opacity: 0.4;
}

.sec1 p {
  position: relative;
  z-index: 1;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: #fff;
  line-height: 98px;
  letter-spacing: 1.41px;
  text-align: center;
}

.sec2 {
  background-color: #45b69c;
}

.sec2 .profile {
  width: 25%;
  height: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: left;
}

.sec2 .profile figure {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec2 .profile figure img {
  width: 100%;
  -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.sec2 .profile ul {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.sec2 .profile ul li {
  margin: 20px 0;
}

.sec2 .profile ul li span {
  font-size: 16px;
  font-weight: 200;
}

.sec2 .introduce {
  float: left;
  width: 70%;
  height: 100%;
  margin-left: 5%;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.54;
  letter-spacing: -0.5px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec2 .introduce .info {
  width: 100%;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 20px;
  font-weight: normal;
  overflow: hidden;
}

.sec2 .introduce .info .edu {
  width: 70%;
  float: left;
}

.sec2 .introduce .info .license {
  width: 30%;
  float: left;
}

.sec2 .introduce .info ul li {
  margin-left: 15px;
}

.sec2 .introduce .info ul li:first-of-type {
  margin-left: 0;
  margin-bottom: 10px;
}

.sec2 .introduce .ability {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec2 .introduce .ability .box {
  width: 20%;
  min-width: 150px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

.sec2 .introduce .ability .box.flip {
  cursor: pointer;
}

.sec2 .introduce .ability .box.active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.sec2 .introduce .ability .box::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.sec2 .introduce .ability .box .inner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sec2 .introduce .ability .box .inner.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.sec2 .introduce .ability .box .inner.back {
  z-index: 1;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
}

.sec2 .introduce .ability .box .inner.back ul {
  width: 100%;
  height: 100%;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sec2 .introduce .ability .box .inner.back ul li {
  margin: 4% 0;
}

.sec2 .introduce .ability .box .icon {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 30%;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-size: 300px;
}

.sec2 .introduce .ability .box .tri {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 32px;
  height: 52px;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-size: 430px;
  background-position-x: 0;
}

.sec2 .introduce .ability .box .text {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
}

.sec2 .introduce .ability .box.headbox .inner {
  background-color: #363636;
}

.sec2 .introduce .ability .box.headbox h4 {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 5%;
}

.sec2 .introduce .ability .box.headbox p {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.sec2 .introduce .ability .box.markup .inner {
  background-color: #f16529;
}

.sec2 .introduce .ability .box.markup .icon {
  width: 70px;
  background-position-x: -24px;
}

.sec2 .introduce .ability .box.script .inner {
  background-color: #be8438;
}

.sec2 .introduce .ability .box.script .icon {
  width: 80px;
  background-position-x: -96px;
}

.sec2 .introduce .ability .box.graphic .inner {
  background-color: #003a68;
}

.sec2 .introduce .ability .box.graphic .icon {
  width: 120px;
  background-position-x: -178px;
}

.sec3 {
  background-color: #363636;
}

.sec3 .port1 .wdicy {
  background-color: #b1bf9b;
}

.sec3 .port1 .saera {
  background-color: #543832;
}

.sec3 .port1 .ninefloor {
  background-color: #c09bd8;
}

.sec3 .port1 .page_contain {
  position: relative;
  width: 100%;
  height: 55%;
}

.sec3 .port1 .page_contain .pages {
  -webkit-transition: opacity .6s ease;
  transition: opacity .6s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

.sec3 .port1 .page_contain .pages.active {
  opacity: 1;
}

.sec3 .port1 .page_contain .pages figure {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec3 .port1 .page_contain .pages figure img {
  width: 90%;
}

.sec3 .port1 .page_contain .pages .page_desc {
  width: 60%;
  color: #fff;
  padding: 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sec3 .port1 .page_contain .pages .page_desc h4 {
  width: 100%;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.7px;
  margin: 20px 0;
}

.sec3 .port1 .page_contain .pages .page_desc p {
  width: 100%;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.54;
  letter-spacing: -0.29px;
  text-indent: 10px;
  margin: 20px 0;
}

.sec3 .port1 .page_selector {
  width: 100%;
  height: 40%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sec3 .port1 .page_selector .page_icon {
  width: 20%;
  margin-right: 1%;
  position: relative;
  display: block;
}

.sec3 .port1 .page_selector .page_icon::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.sec3 .port1 .page_selector .page_icon .inner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sec3 .port1 .page_selector .page_icon .inner img {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sec3 .port1 .page_selector h3 {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 5vw;
  font-weight: bold;
  color: #fff;
  text-align: right;
  vertical-align: bottom;
}

.sec4 {
  background-color: #f25c05;
}
