@media (max-width: 1024px){
  #wrap{
    .sec1{
      .contain{
        .sub_title{
          span{
            font-size: 6vw;
          }
        }
        h4.main_title{
          div{
            span{
              height: 18vw;
              font-size: 15vw;
            }
          }
        }
        p.release{
          font-size: 5vw;
        }
      }
    }
  }
}