@media (max-width: 1024px) {
  .contain {
    padding: 40px 0;
  }
  #wrap #nav .menu {
    padding-right: 0;
  }
  #wrap #nav .menu li {
    text-align: center;
  }
  #wrap #nav .menu li a {
    font-size: 6.5vw;
    letter-spacing: -0.5vw;
  }
  #wrap .sec1 .contain .sub_title span {
    font-size: 6vw;
    letter-spacing: -0.5vw;
  }
  #wrap .sec1 .contain h4.main_title div span {
    height: 18vw;
    font-size: 15vw;
    letter-spacing: -1vw;
    margin-right: 1.95vw;
  }
  #wrap .sec1 .contain p.release {
    font-size: 5vw;
  }
  #wrap .sec2 {
    height: auto;
  }
  #wrap .sec2 .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #wrap .sec2 .contain figure {
    width: 80%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  #wrap .sec2 .contain figure img {
    max-width: none;
  }
  #wrap .sec2 .contain article {
    width: 80%;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  #wrap #nav .menu li a {
    font-size: 10vw;
    letter-spacing: -0.8vw;
  }
  #wrap .menu_btn {
    top: 6vw;
    right: 3vw;
  }
  #wrap .sec1 .contain .sub_title {
    top: 3vw;
    left: 3vw;
  }
  #wrap .sec1 .contain h4.main_title {
    left: 3vw;
  }
  #wrap .sec1 .contain p.release {
    bottom: 3vw;
    right: 3vw;
  }
  #wrap .sec2 .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #wrap .sec2 .contain figure {
    width: 70%;
  }
  #wrap .sec2 .contain article {
    width: 70%;
    margin-right: 0;
  }
  #wrap .sec2 .contain article h5 {
    font-size: 9vw;
  }
  #wrap .sec2 .contain article h6 {
    font-size: 20px;
  }
  #wrap .sec2 .contain article p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  #wrap .menu_btn {
    width: 20px;
  }
  #wrap .menu_btn span {
    height: 2px;
    margin-bottom: 6px;
  }
  #wrap .menu_btn.active span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
            transform: translateY(8px) rotate(-45deg);
  }
  #wrap .menu_btn.active span:nth-child(2) {
    opacity: 0;
  }
  #wrap .menu_btn.active span:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
            transform: translateY(-8px) rotate(45deg);
  }
  #wrap .sec2 .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #wrap .sec2 .contain figure {
    width: 75%;
    margin-bottom: 20px;
  }
  #wrap .sec2 .contain article {
    width: 75%;
    margin-right: 0;
  }
  #wrap .sec2 .contain article h5 {
    font-size: 12vw;
  }
  #wrap .sec2 .contain article h6 {
    font-size: 20px;
  }
  #wrap .sec2 .contain article p {
    font-size: 16px;
  }
}
