@media (max-width: 1024px) {
  #wrap #nav .menu {
    padding-right: 0;
  }
  #wrap #nav .menu li {
    text-align: center;
  }
  #wrap #nav .menu li a {
    font-size: 6.5vw;
    letter-spacing: -0.5vw;
  }
  #wrap .sec1 .contain .sub_title span {
    font-size: 6vw;
    letter-spacing: -0.5vw;
  }
  #wrap .sec1 .contain h4.main_title div span {
    height: 18vw;
    font-size: 15vw;
    letter-spacing: -1vw;
    margin-right: 1.95vw;
  }
  #wrap .sec1 .contain p.release {
    font-size: 5vw;
  }
}

@media (max-width: 768px) {
  #wrap #nav .menu li a {
    font-size: 10vw;
    letter-spacing: -0.8vw;
  }
  #wrap .menu_btn {
    top: 6vw;
    right: 3vw;
  }
  #wrap .sec1 .contain .sub_title {
    top: 3vw;
    left: 3vw;
  }
  #wrap .sec1 .contain h4.main_title {
    left: 3vw;
  }
  #wrap .sec1 .contain p.release {
    bottom: 3vw;
    right: 3vw;
  }
}

@media (max-width: 480px) {
  #wrap .menu_btn {
    width: 20px;
  }
  #wrap .menu_btn span {
    height: 2px;
    margin-bottom: 6px;
  }
  #wrap .menu_btn.active span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
            transform: translateY(8px) rotate(-45deg);
  }
  #wrap .menu_btn.active span:nth-child(2) {
    opacity: 0;
  }
  #wrap .menu_btn.active span:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
            transform: translateY(-8px) rotate(45deg);
  }
}
