@media (max-width: 1024px){
  .contain{
    padding: 40px 0;
  }
  #wrap{
    #nav{
      .menu{
        padding-right: 0;
        li{
          text-align: center;
          a{
            font-size: 6.5vw;
            letter-spacing: -0.5vw;
          }
        }
      }
    }
    .sec1{
      .contain{
        .sub_title{
          span{
            font-size: 6vw;
            letter-spacing: -0.5vw;
          }
        }
        h4.main_title{
          div{
            span{
              height: 18vw;
              font-size: 15vw;
              letter-spacing: -1vw;
              margin-right: 1.95vw;
            }
          }
        }
        p.release{
          font-size: 5vw;
        }
      }
    }
    .sec2{
      height: auto;
      .contain{
        flex-direction: column;
        figure{
          width: 80%;
          margin-right: 0;
          margin-bottom: 40px;
          img{
            max-width: none;
          }
        }
        article{
          width: 80%;
          margin-right: 0;
        }
      }
    }
    .sec3{
      height: auto;
      .contain{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        h4{
          width: 80%;
        }
        figure{
          width: 80%;
          margin: 0;
        }
        article{
          width: 80%;
          align-items: center;
          h5{
            width: 100%;
            padding: 40px 0;
            text-align: center;
            span{
              &:first-child{
                font-size: 10vw;
                margin-right: 2%;
              }
              &:last-child{
                font-size: 5vw;
              }
            }
          }
          ul.profile{
            margin-bottom: 40px;
            li{
              span{
                &:first-child{
                  display: inline-block;
                  width: 25%;
                  font-size: 2.1vw;
                  text-align: right;
                  line-height: 1.58;
                  letter-spacing: -0.5px;
                  margin-right: 1%;
                  text-transform: uppercase;
                }
                &:last-child{
                  display: inline-block;
                  font-size: 2.1vw;
                  line-height: 1.58;
                  letter-spacing: -0.5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #wrap{
    #nav{
      .menu{
        li{
          a{
            font-size: 10vw;
            letter-spacing: -0.8vw;
          }
        }
      }
    }
    .menu_btn{
      top: 6vw;
      right: 3vw;
    }
    .sec1{
      .contain{
        .sub_title{
          top: 3vw; left: 3vw;
        }
        h4.main_title{
          left: 3vw;
        }
        p.release{
          bottom: 3vw; right: 3vw;
        }
      }
    }
    .sec2{
      .contain{
        flex-direction: column;
        figure{
          width: 70%;
        }
        article{
          width: 70%;
          margin-right: 0;
          h4{
            font-size: 9vw;
          }
          h5{
            font-size: 20px;
          }
          p{
            font-size: 16px;
          }
        }
      }
    }
    .sec3{
      .contain{
        h4{
          width: 70%;
          font-size: 9vw;
        }
        figure{
          width: 70%;
        }
        article{
          width: 70%;
          h5{
            padding: 20px 0;
          }
          ul.profile{
            margin-bottom: 20px;
            li{
              span{
                &:first-child{
                  display: inline-block;
                  width: 25%;
                  font-size: 2.3vw;
                  text-align: right;
                  line-height: 1.58;
                  letter-spacing: -0.5px;
                  margin-right: 1%;
                  text-transform: uppercase;
                }
                &:last-child{
                  display: inline-block;
                  font-size: 2.3vw;
                  line-height: 1.58;
                  letter-spacing: -0.5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #wrap{
    .menu_btn{
      width: 20px;
      span{
        height: 2px;
        margin-bottom: 6px;
      }
      &.active{
        span{
          &:nth-child(1){
            transform: translateY(8px) rotate(-45deg);
          }
          &:nth-child(2){
            opacity: 0;
          }
          &:nth-child(3){
            transform: translateY(-8px) rotate(45deg);
          }
        }
      }
    }
    .sec2{
      .contain{
        flex-direction: column;
        figure{
          width: 75%;
          margin-bottom: 20px;
        }
        article{
          width: 75%;
          margin-right: 0;
          h4{
            font-size: 12vw;
          }
          h5{
            font-size: 20px;
          }
          p{
            font-size: 16px;
          }
        }
      }
    }
    .sec3{
      .contain{
        h4{
          width: 75%;
          font-size: 12vw;
        }
        figure{
          width: 75%;
        }
        article{
          width: 75%;
          h5{
            padding: 20px 0;
          }
          ul.profile{
            margin-bottom: 20px;
            li{
              span{
                &:first-child{
                  display: inline-block;
                  width: 25%;
                  font-size: 12px;
                  text-align: right;
                  line-height: 1.58;
                  letter-spacing: -0.5px;
                  margin-right: 1%;
                  text-transform: uppercase;
                }
                &:last-child{
                  display: inline-block;
                  font-size: 12px;
                  line-height: 1.58;
                  letter-spacing: -0.5px;
                }
              }
            }
          }
        }
      }
    }
  }
}