@media (min-width: 1920px) {
  #wrap .sec3 .contain article ul.profile li span:first-child {
    font-size: 26.88px;
  }
  #wrap .sec3 .contain article ul.profile li span:last-child {
    font-size: 26.88px;
  }
}

@media (max-width: 1024px) {
  .contain {
    padding: 40px 0;
  }
  #wrap #nav .menu {
    padding-right: 0;
  }
  #wrap #nav .menu li {
    text-align: center;
  }
  #wrap #nav .menu li.sns {
    text-align: center;
  }
  #wrap #nav .menu li a {
    font-size: 6.5vw;
    letter-spacing: -0.5vw;
  }
  #wrap .sec1 .contain .sub_title span {
    font-size: 6vw;
    letter-spacing: -0.5vw;
  }
  #wrap .sec1 .contain h4.main_title div span {
    height: 18vw;
    font-size: 15vw;
    letter-spacing: -1vw;
    margin-right: 1.95vw;
  }
  #wrap .sec1 .contain p.release {
    font-size: 5vw;
  }
  #wrap .sec2 {
    height: auto;
  }
  #wrap .sec2 .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #wrap .sec2 .contain figure {
    width: 80%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  #wrap .sec2 .contain figure img {
    max-width: none;
  }
  #wrap .sec2 .contain article {
    width: 80%;
    margin-right: 0;
  }
  #wrap .sec3 {
    height: auto;
  }
  #wrap .sec3 .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrap .sec3 .contain h4 {
    width: 80%;
  }
  #wrap .sec3 .contain figure {
    width: 80%;
    margin: 0;
  }
  #wrap .sec3 .contain article {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrap .sec3 .contain article h5 {
    width: 100%;
    padding: 40px 0;
    text-align: center;
  }
  #wrap .sec3 .contain article h5 span:first-child {
    font-size: 10vw;
    margin-right: 2%;
  }
  #wrap .sec3 .contain article h5 span:last-child {
    font-size: 5vw;
  }
  #wrap .sec3 .contain article ul.profile {
    margin-bottom: 40px;
  }
  #wrap .sec3 .contain article ul.profile li span:first-child {
    width: 25%;
    font-size: 2.7vw;
  }
  #wrap .sec3 .contain article ul.profile li span:last-child {
    font-size: 2.7vw;
  }
  #wrap .sec4 {
    height: auto;
  }
  #wrap .sec4 .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrap .sec4 .contain h4 {
    width: 80%;
    margin-bottom: 10%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #wrap .sec4 .contain article {
    width: 80%;
    margin: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #wrap .sec4 .contain article ul.track_list li {
    margin-bottom: 5%;
  }
  #wrap .sec4 .contain figure {
    width: 80%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 10%;
  }
  #wrap .sec5 {
    height: auto;
  }
  #wrap .sec5 .contain h4 {
    width: 80%;
  }
  #wrap .sec5 .contain figure {
    width: 80%;
    margin-bottom: 20px;
  }
  #wrap .sec5 .contain article {
    width: 80%;
  }
  #wrap .sec5 .contain article div.line {
    width: 6px;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #wrap .sec5 .contain article ul.schedule {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #wrap .sec5 .contain article ul.schedule > li {
    margin: 20px 0;
  }
  #wrap .sec5 .contain article ul.schedule > li > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 5%;
    position: relative;
  }
  #wrap .sec5 .contain article ul.schedule > li > ul li:nth-of-type(1) {
    text-align: left;
  }
  #wrap .sec5 .contain article ul.schedule > li > ul li:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #wrap .sec5 .contain article ul.schedule > li > ul li:nth-of-type(3) {
    text-align: right;
  }
  #wrap .sec6 {
    height: auto;
  }
  #wrap .sec6 .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrap .sec6 .contain h4 {
    width: 80%;
  }
  #wrap .sec6 .contain > div.mv {
    width: 80%;
    margin-right: 0;
    margin-bottom: 10%;
  }
  #wrap .sec6 .contain > div.mv a figure figcaption {
    font-size: 3vw;
  }
  #wrap .sec6 .contain > div.videoclip {
    width: 80%;
  }
  #wrap .sec6 .contain > div.videoclip article ul.videolist {
    margin-bottom: 5%;
  }
  #wrap .sec6 .contain > div.videoclip article ul.videolist li a figure figcaption {
    font-size: 2.1vw;
  }
  #wrap .sec7 {
    height: auto;
  }
  #wrap .sec7 .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrap .sec7 .contain h4 {
    width: 80%;
    margin-bottom: 40px;
  }
  #wrap .sec7 .contain article {
    width: 80%;
    height: auto;
  }
  #wrap .sec7 .contain article a {
    width: 48%;
  }
}

@media (max-width: 768px) {
  #wrap #nav .menu li a {
    font-size: 10vw;
    letter-spacing: -0.8vw;
  }
  #wrap .menu_btn {
    top: 6vw;
    right: 3vw;
  }
  #wrap .sec1 .contain .sub_title {
    top: 3vw;
    left: 3vw;
  }
  #wrap .sec1 .contain h4.main_title {
    left: 3vw;
  }
  #wrap .sec1 .contain p.release {
    bottom: 3vw;
    right: 3vw;
  }
  #wrap .sec2 .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #wrap .sec2 .contain figure {
    width: 70%;
  }
  #wrap .sec2 .contain article {
    width: 70%;
    margin-right: 0;
  }
  #wrap .sec2 .contain article h4 {
    font-size: 9vw;
  }
  #wrap .sec2 .contain article h5 {
    font-size: 20px;
  }
  #wrap .sec2 .contain article p {
    font-size: 16px;
  }
  #wrap .sec3 .contain h4 {
    width: 70%;
    font-size: 9vw;
  }
  #wrap .sec3 .contain figure {
    width: 70%;
  }
  #wrap .sec3 .contain article {
    width: 70%;
  }
  #wrap .sec3 .contain article h5 {
    padding: 20px 0;
  }
  #wrap .sec3 .contain article ul.profile {
    margin-bottom: 20px;
  }
  #wrap .sec3 .contain article ul.profile li span:first-child {
    width: 25%;
    font-size: 2.4vw;
  }
  #wrap .sec3 .contain article ul.profile li span:last-child {
    font-size: 2.4vw;
  }
  #wrap .sec4 .contain h4 {
    width: 70%;
    font-size: 9vw;
  }
  #wrap .sec4 .contain article {
    width: 70%;
  }
  #wrap .sec4 .contain article ul.track_list li h5 {
    font-size: 4vw;
    margin-bottom: 22px;
  }
  #wrap .sec4 .contain article ul.track_list li p {
    font-size: 16px;
  }
  #wrap .sec4 .contain figure {
    width: 70%;
  }
  #wrap .sec5 .contain h4 {
    width: 70%;
    font-size: 9vw;
    margin-bottom: 20px;
  }
  #wrap .sec5 .contain figure {
    width: 70%;
  }
  #wrap .sec5 .contain article {
    width: 70%;
  }
  #wrap .sec5 .contain article div.line {
    left: 41%;
  }
  #wrap .sec5 .contain article ul.schedule > li > ul li:nth-of-type(1) span:nth-of-type(1) {
    font-size: 22px;
  }
  #wrap .sec5 .contain article ul.schedule > li > ul li:nth-of-type(1) span:nth-of-type(2) {
    font-size: 12px;
  }
  #wrap .sec5 .contain article ul.schedule > li > ul li:nth-of-type(2) {
    left: 40%;
  }
  #wrap .sec5 .contain article ul.schedule > li > ul li:nth-of-type(3) span {
    font-size: 18px;
  }
  #wrap .sec5 .contain article ul.schedule > li > ul li:nth-of-type(3) span sub {
    font-size: 12px;
  }
  #wrap .sec6 .contain h4 {
    width: 70%;
  }
  #wrap .sec6 .contain > div.mv {
    width: 70%;
  }
  #wrap .sec6 .contain > div.mv a {
    padding: 10px 0 40px 10px;
  }
  #wrap .sec6 .contain > div.mv a figure figcaption {
    font-size: 3vw;
    height: 75%;
  }
  #wrap .sec6 .contain > div.videoclip {
    width: 70%;
  }
  #wrap .sec6 .contain > div.videoclip article ul.videolist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #wrap .sec6 .contain > div.videoclip article ul.videolist li {
    width: 100%;
    margin-bottom: 2%;
  }
  #wrap .sec6 .contain > div.videoclip article ul.videolist li a figure figcaption {
    font-size: 7vw;
  }
  #wrap .sec7 {
    height: auto;
  }
  #wrap .sec7 .contain h4 {
    width: 70%;
  }
  #wrap .sec7 .contain article {
    width: 70%;
  }
  #wrap .sec7 .contain article a {
    width: 48%;
  }
  #wrap #footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrap #footer address {
    padding-top: 0;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  #wrap .menu_btn {
    width: 20px;
  }
  #wrap .menu_btn span {
    height: 2px;
    margin-bottom: 6px;
  }
  #wrap .menu_btn.active span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
            transform: translateY(8px) rotate(-45deg);
  }
  #wrap .menu_btn.active span:nth-child(2) {
    opacity: 0;
  }
  #wrap .menu_btn.active span:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
            transform: translateY(-8px) rotate(45deg);
  }
  #wrap .sec2 .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #wrap .sec2 .contain figure {
    width: 75%;
    margin-bottom: 20px;
  }
  #wrap .sec2 .contain article {
    width: 75%;
    margin-right: 0;
  }
  #wrap .sec2 .contain article h4 {
    font-size: 12vw;
  }
  #wrap .sec2 .contain article h5 {
    font-size: 20px;
  }
  #wrap .sec2 .contain article p {
    font-size: 16px;
  }
  #wrap .sec3 .contain h4 {
    width: 75%;
    font-size: 12vw;
  }
  #wrap .sec3 .contain figure {
    width: 75%;
  }
  #wrap .sec3 .contain article {
    width: 75%;
  }
  #wrap .sec3 .contain article ul.profile li span:first-child {
    display: block;
    width: auto;
    text-align: left;
    font-size: 14px;
  }
  #wrap .sec3 .contain article ul.profile li span:last-child {
    display: block;
    font-size: 12px;
    margin-left: 2px;
  }
  #wrap .sec4 .contain h4 {
    width: 75%;
    font-size: 12vw;
  }
  #wrap .sec4 .contain article {
    width: 75%;
  }
  #wrap .sec4 .contain article ul.track_list li h5 {
    font-size: 21px;
  }
  #wrap .sec4 .contain article ul.track_list li h5::after {
    width: 18px;
    height: 18px;
  }
  #wrap .sec4 .contain article ul.track_list li p {
    font-size: 16px;
  }
  #wrap .sec4 .contain figure {
    width: 75%;
  }
  #wrap .sec5 .contain h4 {
    width: 75%;
    font-size: 12vw;
  }
  #wrap .sec5 .contain figure {
    width: 75%;
  }
  #wrap .sec5 .contain article {
    width: 75%;
  }
  #wrap .sec5 .contain article div.line {
    width: 4px;
  }
  #wrap .sec5 .contain article ul.schedule > li > ul li:nth-of-type(1) span:nth-of-type(1) {
    font-size: 22px;
  }
  #wrap .sec5 .contain article ul.schedule > li > ul li:nth-of-type(1) span:nth-of-type(2) {
    font-size: 12px;
  }
  #wrap .sec5 .contain article ul.schedule > li > ul li:nth-of-type(2) {
    width: 12px;
    height: 12px;
  }
  #wrap .sec5 .contain article ul.schedule > li > ul li:nth-of-type(3) span {
    font-size: 14px;
  }
  #wrap .sec5 .contain article ul.schedule > li > ul li:nth-of-type(3) span sub {
    font-size: 10px;
  }
  #wrap .sec6 .contain h4 {
    width: 75%;
    font-size: 12vw;
  }
  #wrap .sec6 .contain > div.mv {
    width: 75%;
  }
  #wrap .sec6 .contain > div.mv a figure figcaption {
    font-size: 3vw;
  }
  #wrap .sec6 .contain > div.videoclip {
    width: 75%;
  }
  #wrap .sec6 .contain > div.videoclip article ul.videolist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #wrap .sec6 .contain > div.videoclip article ul.videolist li {
    width: 100%;
    margin-bottom: 2%;
  }
  #wrap .sec6 .contain > div.videoclip article ul.videolist li a figure figcaption {
    font-size: 7vw;
  }
  #wrap .sec7 {
    height: auto;
  }
  #wrap .sec7 .contain h4 {
    width: 75%;
    font-size: 12vw;
  }
  #wrap .sec7 .contain article {
    width: 75%;
  }
  #wrap .sec7 .contain article a {
    width: 100%;
  }
  #wrap .sec7 .contain article a:nth-of-type(3n) {
    display: none;
  }
}
