
/* width 1920px 이상 (고해상도 모니터) */
@media (min-width: 1920px) {
  #wrap {
    .sec3 {
      .contain {
        article {
          ul.profile {
            li {
              span {
                &:first-child {
                  font-size: 26.88px;
                }
                &:last-child {
                  font-size: 26.88px;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* width 1024px ~ 769px (태블릿, 저해상도 PC) */
@media (max-width: 1024px) {
  .contain {
    padding: 40px 0;
  }
  #wrap {
    #nav {
      .menu {
        padding-right: 0;
        li {
          text-align: center;
          &.sns {
            text-align: center;
          }
          a {
            font-size: 6.5vw;
            letter-spacing: -0.5vw;
          }
        }
      }
    }
    .sec1 {
      .contain {
        .sub_title {
          span {
            font-size: 6vw;
            letter-spacing: -0.5vw;
          }
        }
        .main_title {
          div {
            span {
              height: 18vw;
              font-size: 15vw;
              letter-spacing: -1vw;
              margin-right: 1.95vw;
            }
          }
        }
        p.release {
          font-size: 5vw;
        }
      }
    }
    .sec2 {
      height: auto;
      .contain {
        flex-direction: column;
        figure {
          width: 80%;
          margin-right: 0;
          margin-bottom: 40px;
          img {
            max-width: none;
          }
        }
        article {
          width: 80%;
          margin-right: 0;
        }
      }
    }
    .sec3 {
      height: auto;
      .contain {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        h4 {
          width: 80%;
        }
        figure {
          width: 80%;
          margin: 0;
        }
        article {
          width: 80%;
          align-items: center;
          h5 {
            width: 100%;
            padding: 40px 0;
            text-align: center;
            span {
              &:first-child {
                font-size: 10vw;
                margin-right: 2%;
              }
              &:last-child {
                font-size: 5vw;
              }
            }
          }
          ul.profile {
            margin-bottom: 40px;
            li {
              span {
                &:first-child {
                  width: 25%;
                  font-size: 2.7vw;
                }
                &:last-child {
                  font-size: 2.7vw;
                }
              }
            }
          }
        }
      }
      .disco{
        article{
          h4{
            font-size: 9vw;
          }
          .close_btn{
            top: 10vw;
          }
        }
      }
    }
    .sec4 {
      height: auto;
      .contain {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        h4 {
          width: 80%;
          margin-bottom: 10%;
          order: 1;
        }
        article {
          width: 80%;
          margin: 0;
          order: 3;
          ul.track_list {
            li {
              margin-bottom: 5%;
            }
          }
        }
        figure {
          width: 80%;
          order: 2;
          margin-bottom: 10%;
        }
      }
    }
    .sec5 {
      height: auto;
      .contain {
        h4 {
          width: 80%;
        }
        figure {
          width: 80%;
          margin-bottom: 20px;
        }
        article {
          width: 80%;
          div.line {
            width: 6px;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }
          ul.schedule {
            flex-direction: column;
            > li {
              margin: 20px 0;
              > ul {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 0 5%;
                position: relative;
                li {
                  &:nth-of-type(1) {
                    text-align: left;
                  }
                  &:nth-of-type(2) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }
                  &:nth-of-type(3) {
                    text-align: right;
                  }
                }
              }
            }
          }
        }
      }
    }
    .sec6 {
      height: auto;
      .contain {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        h4 {
          width: 80%;
        }
        > div.mv {
          width: 80%;
          margin-right: 0;
          margin-bottom: 10%;
          a {
            figure {
              figcaption {
                font-size: 3vw;
              }
            }
          }
        }
        > div.videoclip {
          width: 80%;
          article {
            ul.videolist {
              margin-bottom: 5%;
              li {
                a {
                  figure {
                    figcaption {
                      font-size: 2.1vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .sec7 {
      height: auto;
      .contain {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        h4 {
          width: 80%;
          margin-bottom: 40px;
        }
        article {
          width: 80%;
          height: auto;
          a {
            width: 48%;
          }
        }
      }
    }
  }
}

/* width 768px ~ 561px (모바일) */
@media (max-width: 768px) {
  #wrap {
    #nav {
      .menu {
        li {
          a {
            font-size: 10vw;
            letter-spacing: -0.8vw;
          }
        }
      }
    }
    .menu_btn {
      top: 6vw;
      right: 3vw;
    }
    .sec1 {
      .contain {
        .sub_title {
          top: 3vw;
          left: 3vw;
        }
        .main_title {
          left: 3vw;
        }
        p.release {
          bottom: 3vw;
          right: 3vw;
        }
      }
    }
    .sec2 {
      .contain {
        flex-direction: column;
        figure {
          width: 70%;
        }
        article {
          width: 70%;
          margin-right: 0;
          h4 {
            font-size: 9vw;
          }
          h5 {
            font-size: 20px;
          }
          p {
            font-size: 16px;
          }
        }
      }
      .physical{
        article{
          .close_btn{
            width: 10%;
            right: 2%;
          }
        }
      }
    }
    .sec3 {
      .contain {
        h4 {
          width: 70%;
          font-size: 9vw;
        }
        figure {
          width: 70%;
        }
        article {
          width: 70%;
          h5 {
            padding: 20px 0;
          }
          ul.profile {
            margin-bottom: 20px;
            li {
              span {
                &:first-child {
                  width: 25%;
                  font-size: 2.4vw;
                }
                &:last-child {
                  font-size: 2.4vw;
                }
              }
            }
          }
        }
      }
      .disco{
        article{
          .close_btn{
            width: 10%;
            right: 5%;
          }
        }
      }
    }
    .sec4 {
      .contain {
        h4 {
          width: 70%;
          font-size: 9vw;
        }
        article {
          width: 70%;
          ul.track_list {
            li {
              h5 {
                font-size: 5vw;
                margin-bottom: 24px;
              }
              p {
                font-size: 16px;
              }
            }
          }
        }
        figure {
          width: 70%;
        }
      }
    }
    .sec5 {
      .contain {
        h4 {
          width: 70%;
          font-size: 9vw;
          margin-bottom: 20px;
        }
        figure {
          width: 70%;
        }
        article {
          width: 90%;
          div.line {
            left: 41%;
          }
          ul.schedule {
            > li {
              > ul {
                li {
                  &:nth-of-type(1) {
                    span {
                      &:nth-of-type(1) {
                        font-size: 22px;
                      }
                      &:nth-of-type(2) {
                        font-size: 12px;
                      }
                    }
                  }
                  &:nth-of-type(2) {
                    left: 40%;
                  }
                  &:nth-of-type(3) {
                    span {
                      font-size: 16px;
                      sub {
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .sec6 {
      .contain {
        h4 {
          width: 70%;
        }
        > div.mv {
          width: 70%;
          a {
            padding: 10px 0 40px 10px;
            figure {
              figcaption {
                font-size: 3vw;
              }
            }
          }
        }
        > div.videoclip {
          width: 70%;
          article {
            ul.videolist {
              flex-direction: column;
              li {
                width: 100%;
                margin-bottom: 2%;
                a {
                  figure {
                    figcaption {
                      font-size: 7vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .sec7 {
      height: auto;
      .contain {
        h4 {
          width: 70%;
        }
        article {
          width: 70%;
          a {
            width: 48%;
          }
        }
      }
    }
    #footer {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      address {
        padding-top: 0;
        font-size: 14px;
      }
    }
  }
}

/* width 560px ~ 481px (모바일) */
@media (max-width: 560px) {
  #wrap{
    .sec3{
      .disco{
        article{
          ul.disco_list{
            li{
              width: 90%;
            }
          }
        }
      }
    }
  }
}

/* width 480px ~ (모바일) */
@media (max-width: 480px) {
  #wrap {
    .menu_btn {
      width: 20px;
      span {
        height: 2px;
        margin-bottom: 6px;
      }
      &.active {
        span {
          &:nth-child(1) {
            transform: translateY(8px) rotate(-45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-8px) rotate(45deg);
          }
        }
      }
    }
    #nav {
      .menu {
        li {
          &.sns {
            padding-top: 25px;
            .icon {
              width: 24px;
              height: 24px;
              &.facebook {
                width: 16px;
              }
            }
          }
        }
      }
    }
    .sec2 {
      .contain {
        flex-direction: column;
        figure {
          width: 75%;
          margin-bottom: 20px;
        }
        article {
          width: 75%;
          margin-right: 0;
          h4 {
            font-size: 12vw;
          }
          h5 {
            font-size: 20px;
          }
          p {
            font-size: 16px;
          }
        }
      }
      .physical {
        article{
          width: 80%;
          h4 {
            font-size: 12vw;
          }
          .close_btn {
            top: 3vw;
          }
          img {
            width: 90%;
          }
        }
      }
    }
    .sec3 {
      .contain {
        h4 {
          width: 75%;
          font-size: 12vw;
        }
        figure {
          width: 75%;
        }
        article {
          width: 75%;
          ul.profile {
            li {
              span {
                &:first-child {
                  display: block;
                  width: auto;
                  text-align: left;
                  font-size: 14px;
                }
                &:last-child {
                  display: block;
                  font-size: 12px;
                  margin-left: 2px;
                }
              }
            }
          }
        }
      }
    }
    .sec4 {
      .contain {
        h4 {
          width: 75%;
          font-size: 12vw;
        }
        article {
          width: 75%;
          ul.track_list {
            li {
              h5 {
                font-size: 21px;
                &::after {
                  width: 18px;
                  height: 18px;
                }
                sub{
                  font-size: 12px;
                }
              }
              &.active{
                h5 sub{
                  font-size: 12px;
                }
              }
              p {
                font-size: 16px;
              }
            }
          }
        }
        figure {
          width: 75%;
        }
      }
    }
    .sec5 {
      .contain {
        h4 {
          width: 75%;
          font-size: 12vw;
        }
        figure {
          width: 75%;
        }
        article {
          div.line {
            width: 4px;
          }
          ul.schedule {
            > li {
              > ul {
                li {
                  &:nth-of-type(1) {
                    span {
                      &:nth-of-type(1) {
                        font-size: 22px;
                      }
                      &:nth-of-type(2) {
                        font-size: 12px;
                      }
                    }
                  }
                  &:nth-of-type(2) {
                    width: 12px;
                    height: 12px;
                  }
                  &:nth-of-type(3) {
                    span {
                      font-size: 14px;
                      sub {
                        font-size: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .sec6 {
      .contain {
        h4 {
          width: 75%;
          font-size: 12vw;
        }
        > div.mv {
          width: 75%;
          a {
            figure {
              figcaption {
                font-size: 3vw;
              }
            }
          }
        }
        > div.videoclip {
          width: 75%;
          article {
            ul.videolist {
              flex-direction: column;
              li {
                width: 100%;
                margin-bottom: 2%;
                a {
                  figure {
                    figcaption {
                      font-size: 7vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .sec7 {
      height: auto;
      .contain {
        h4 {
          width: 75%;
          font-size: 12vw;
        }
        article {
          width: 75%;
          a {
            width: 100%;
            &:nth-of-type(3n) {
              display: none;
            }
          }
        }
      }
    }
  }
}
