@charset "UTF-8";
/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form, figure {
  margin: 0;
  padding: 0;
}

/* 폰트 스타일 초기화 */
em, address {
  font-style: normal;
}

/* 블릿기호 초기화 */
dl, ul, li, ol, menu {
  list-style: none;
}

/* 제목 태그 초기화 */
h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

/* 테두리 초기화 */
img, fieldset, button {
  border: 0 none;
}

/* a 태그 초기화 */
a {
  text-decoration: none;
  color: inherit;
}

/* IR 효과 */
/* 의미있는 이미지의 대체 텍스트를 제공하는 경우 */
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때 */
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.videoback {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -10;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videoback video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.title {
  cursor: pointer;
}

.title .typo {
  width: 100%;
  height: 100vh;
  height: var(--app-height, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../images/wdicy_typo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contain {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wrap {
  display: none;
  position: relative;
}

#wrap #nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  height: var(--app-height, 100vh);
  background-color: rgba(217, 159, 126, 0.95);
}

#wrap #nav .menu {
  width: 100%;
  height: 100%;
  padding: 10vh 2.1% 5vh 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap #nav .menu li {
  width: 92%;
  text-align: right;
  position: relative;
}

#wrap #nav .menu li a {
  font-family: "Bodoni Moda", serif;
  font-size: 71px;
  font-weight: bold;
  font-style: italic;
  color: #403636;
  letter-spacing: -4.54px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#wrap #nav .menu li::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(242, 235, 220, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#wrap #nav .menu li:hover a {
  color: #f2ebdc;
}

#wrap #nav .menu li:hover::after {
  background-color: #f2ebdc;
}

#wrap #nav .menu li.sns {
  text-align: left;
  padding-top: 50px;
}

#wrap #nav .menu li.sns .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 25px;
}

#wrap #nav .menu li.sns .icon.youtube {
  background-image: url(../images/youtube-brands.svg);
}

#wrap #nav .menu li.sns .icon.instagram {
  background-image: url(../images/instagram-brands.svg);
}

#wrap #nav .menu li.sns .icon.twitter {
  background-image: url(../images/twitter-brands.svg);
}

#wrap #nav .menu li.sns .icon.facebook {
  width: 26px;
  background-image: url(../images/facebook-f-brands.svg);
  margin: 0;
}

#wrap #nav .menu li.sns:hover a {
  color: #f2ebdc;
}

#wrap #nav .menu li.sns:hover::after {
  background-color: rgba(242, 235, 220, 0);
}

#wrap .menu_btn {
  display: block;
  position: fixed;
  top: 4.7%;
  right: 2.1%;
  width: 60px;
  z-index: 10;
}

#wrap .menu_btn span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #f2ebdc;
  -webkit-box-shadow: 0 0 8px rgba(64, 54, 54, 0.5);
          box-shadow: 0 0 8px rgba(64, 54, 54, 0.5);
  margin-bottom: 11px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#wrap .menu_btn span:last-child {
  margin: 0;
}

#wrap .menu_btn.active span {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#wrap .menu_btn.active span:nth-child(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
          transform: translateY(15px) rotate(-45deg);
}

#wrap .menu_btn.active span:nth-child(2) {
  opacity: 0;
}

#wrap .menu_btn.active span:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
          transform: translateY(-15px) rotate(45deg);
}

#wrap .sec1 {
  width: 100%;
  height: 100vh;
  height: var(--app-height, 100vh);
  background-color: rgba(64, 54, 54, 0.7);
}

#wrap .sec1 .sub_title {
  position: absolute;
  top: 3.4%;
  left: 2.1%;
}

#wrap .sec1 .sub_title span {
  display: block;
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 53px;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: -3.92px;
  text-align-last: left;
  color: #f2ebdc;
  text-transform: uppercase;
}

#wrap .sec1 .main_title {
  position: absolute;
  top: 50%;
  left: 2.1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#wrap .sec1 .main_title div span {
  display: block;
  height: 180px;
  font-family: "Bodoni Moda", serif;
  font-weight: 800;
  font-size: 155px;
  font-style: normal;
  text-align: center;
  color: transparent;
  letter-spacing: -9.92px;
  -webkit-text-stroke: 1px #f2ebdc;
  text-transform: uppercase;
  margin-right: 20px;
  padding-right: 10px;
  cursor: pointer;
  overflow: hidden;
  float: left;
}

#wrap .sec1 .main_title div span:hover {
  -webkit-text-stroke: 0;
  color: #f2ebdc;
}

#wrap .sec1 p.release {
  font-family: "Bodoni Moda", serif;
  font-weight: bold;
  font-size: 40px;
  font-style: italic;
  color: #f2ebdc;
  position: absolute;
  bottom: 2.6%;
  right: 2.1%;
}

#wrap .sec2 {
  width: 100%;
  height: 100vh;
  background: rgba(64, 54, 54, 0.7);
}

#wrap .sec2 .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#wrap .sec2 .contain figure {
  width: 35%;
  margin-right: 5.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap .sec2 .contain figure img {
  width: 100%;
  max-width: 672px;
}

#wrap .sec2 .contain article {
  text-align: right;
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrap .sec2 .contain article h4 {
  font-family: "Bodoni Moda", serif;
  font-size: 71px;
  font-weight: 700;
  font-style: italic;
  color: #d99f7e;
  margin-bottom: 2%;
}

#wrap .sec2 .contain article h5 {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: bold;
  font-size: 22px;
  font-style: normal;
  color: #f2ebdc;
  margin-bottom: 20px;
}

#wrap .sec2 .contain article p {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  text-indent: 10px;
  color: #f2ebdc;
  text-align: justify;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

#wrap .sec2 .contain article p:last-of-type {
  margin-bottom: 40px;
}

#wrap .sec2 .contain article button {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: bold;
  font-size: 22px;
  font-style: normal;
  color: #403636;
  letter-spacing: -1px;
  width: 200px;
  height: 50px;
  background-color: #f2ebdc;
  border-radius: 70px;
  text-indent: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#wrap .sec3 {
  width: 100%;
  height: 100vh;
  background-color: #f2ebdc;
}

#wrap .sec3 .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#wrap .sec3 .contain h4 {
  width: 87.5%;
  font-family: "Bodoni Moda", serif;
  font-size: 71px;
  font-weight: 700;
  font-style: italic;
  color: #b1bf9b;
}

#wrap .sec3 .contain figure {
  width: 41%;
  margin-right: 4%;
}

#wrap .sec3 .contain figure div {
  width: 100%;
  height: 100%;
  position: relative;
}

#wrap .sec3 .contain figure div::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/profile_daisy.png);
  background-size: 60.75%;
  background-repeat: no-repeat;
  background-position: 106% -21%;
  opacity: 0;
  -webkit-transform: translate(-30%, 10%);
          transform: translate(-30%, 10%);
  -webkit-transition: opacity 1.5s ease-out, -webkit-transform 2s ease-out;
  transition: opacity 1.5s ease-out, -webkit-transform 2s ease-out;
  transition: opacity 1.5s ease-out, transform 2s ease-out;
  transition: opacity 1.5s ease-out, transform 2s ease-out, -webkit-transform 2s ease-out;
}

#wrap .sec3 .contain figure div.on::after {
  opacity: 1;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

#wrap .sec3 .contain figure img {
  width: 73%;
  margin-top: 11%;
  position: relative;
  z-index: 1;
}

#wrap .sec3 .contain article {
  width: 42.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wrap .sec3 .contain article h5 {
  padding-top: 11%;
}

#wrap .sec3 .contain article h5 span:first-child {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 70px;
  font-style: normal;
  letter-spacing: -5px;
  text-transform: uppercase;
  margin-right: 7px;
}

#wrap .sec3 .contain article h5 span:last-child {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: normal;
  font-size: 36px;
  font-style: normal;
  letter-spacing: -2.66px;
}

#wrap .sec3 .contain article ul.profile {
  width: 100%;
}

#wrap .sec3 .contain article ul.profile li {
  width: 100%;
}

#wrap .sec3 .contain article ul.profile li span:first-child {
  display: inline-block;
  width: 25%;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: normal;
  font-size: 1.4vw;
  font-style: normal;
  text-align: right;
  line-height: 1.58;
  letter-spacing: -0.5px;
  margin-right: 1%;
  text-transform: uppercase;
}

#wrap .sec3 .contain article ul.profile li span:last-child {
  display: inline-block;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: -0.5px;
}

#wrap .sec3 .contain article ul.profile li span sub {
  vertical-align: baseline;
  font-size: smaller;
}

#wrap .sec3 .contain article button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: bold;
  font-size: 22px;
  font-style: normal;
  color: #f2ebdc;
  letter-spacing: -1px;
  width: 200px;
  height: 50px;
  background-color: #b1bf9b;
  border-radius: 70px;
  text-indent: 10px;
}

#wrap .sec4 {
  width: 100%;
  height: 100vh;
  background-color: rgba(64, 54, 54, 0.7);
}

#wrap .sec4 .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#wrap .sec4 .contain h4 {
  width: 87.5%;
  font-family: "Bodoni Moda", serif;
  font-size: 71px;
  font-weight: 700;
  font-style: italic;
  color: #d99f7e;
}

#wrap .sec4 .contain article {
  width: 38.5%;
  margin-right: 4%;
}

#wrap .sec4 .contain article ul.track_list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrap .sec4 .contain article ul.track_list li {
  width: 100%;
  height: 50px;
  max-height: 50px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: max-height 0.6s ease-in-out;
  transition: max-height 0.6s ease-in-out;
}

#wrap .sec4 .contain article ul.track_list li h5 {
  width: 100%;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: 300;
  font-size: 32px;
  font-style: normal;
  letter-spacing: -0.8px;
  color: #f2ebdc;
  position: relative;
  margin-bottom: 5px;
}

#wrap .sec4 .contain article ul.track_list li h5 sub {
  vertical-align: baseline;
  font-weight: 300;
  font-size: 16px;
}

#wrap .sec4 .contain article ul.track_list li h5::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 0;
  background-image: url(../images/play.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

#wrap .sec4 .contain article ul.track_list li h5.active::after {
  background-image: url(../images/pause.svg);
}

#wrap .sec4 .contain article ul.track_list li h5:hover::after {
  opacity: 1;
}

#wrap .sec4 .contain article ul.track_list li p {
  width: 100%;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  text-indent: 10px;
  letter-spacing: -0.5px;
  color: #f2ebdc;
}

#wrap .sec4 .contain article ul.track_list li.active {
  height: auto;
  max-height: 330px;
}

#wrap .sec4 .contain article ul.track_list li.active h5 {
  font-weight: bold;
  letter-spacing: -0.8px;
  color: #f2ebdc;
}

#wrap .sec4 .contain article ul.track_list li.active h5::after {
  opacity: 1;
}

#wrap .sec4 .contain article ul.track_list li.active h5 sub {
  vertical-align: baseline;
  font-size: 16px;
  font-weight: 300;
}

#wrap .sec4 .contain figure {
  width: 45%;
}

#wrap .sec4 .contain figure > div {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap .sec4 .contain figure > div::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/rose.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10% 90%;
  opacity: 0;
  -webkit-transform: translate(10%, -15%);
          transform: translate(10%, -15%);
  -webkit-transition: opacity 2s ease-out, -webkit-transform 1.5s ease-out;
  transition: opacity 2s ease-out, -webkit-transform 1.5s ease-out;
  transition: opacity 2s ease-out, transform 1.5s ease-out;
  transition: opacity 2s ease-out, transform 1.5s ease-out, -webkit-transform 1.5s ease-out;
}

#wrap .sec4 .contain figure > div.on::after {
  opacity: 1;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

#wrap .sec4 .contain figure > div img {
  position: relative;
  z-index: 1;
}

#wrap .sec4 .contain figure > div img.cd {
  width: 65%;
}

#wrap .sec4 .contain figure > div img.cd.active {
  -webkit-animation: rotate360 12s linear infinite;
          animation: rotate360 12s linear infinite;
}

#wrap .sec4 .contain figure > div img:last-of-type {
  width: 53%;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#wrap .sec5 {
  width: 100%;
  height: 90vh;
  background-color: #b1bf9b;
}

#wrap .sec5 .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap .sec5 .contain h4 {
  width: 87.5%;
  font-family: "Bodoni Moda", serif;
  font-size: 71px;
  font-weight: 700;
  font-style: italic;
  color: #f2ebdc;
  text-align: center;
}

#wrap .sec5 .contain figure {
  width: 22%;
  min-width: 224px;
  position: relative;
}

#wrap .sec5 .contain figure img:first-of-type {
  width: 100%;
}

#wrap .sec5 .contain figure img:nth-of-type(2) {
  width: 47%;
  -webkit-animation: rotate360 8s linear infinite;
          animation: rotate360 8s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

#wrap .sec5 .contain figure img:last-of-type {
  width: 47%;
  -webkit-animation: rotate360 8s linear infinite;
          animation: rotate360 8s linear infinite;
  position: absolute;
  top: 0;
  right: 0;
}

#wrap .sec5 .contain article {
  width: 87.5%;
  position: relative;
}

#wrap .sec5 .contain article div.line {
  width: 100%;
  height: 6px;
  background-color: #f2ebdc;
  position: absolute;
  top: 43%;
}

#wrap .sec5 .contain article ul.schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#wrap .sec5 .contain article ul.schedule > li {
  margin-bottom: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#wrap .sec5 .contain article ul.schedule > li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#wrap .sec5 .contain article ul.schedule > li > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap .sec5 .contain article ul.schedule > li > ul > li {
  text-align: center;
  color: #f2ebdc;
}

#wrap .sec5 .contain article ul.schedule > li > ul > li:nth-of-type(1) span {
  display: block;
}

#wrap .sec5 .contain article ul.schedule > li > ul > li:nth-of-type(1) span:nth-of-type(1) {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 34px;
  font-style: normal;
}

#wrap .sec5 .contain article ul.schedule > li > ul > li:nth-of-type(1) span:nth-of-type(2) {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-style: normal;
}

#wrap .sec5 .contain article ul.schedule > li > ul > li:nth-of-type(2) {
  width: 20px;
  height: 20px;
  background-color: #f2ebdc;
  border-radius: 50%;
}

#wrap .sec5 .contain article ul.schedule > li > ul > li:nth-of-type(3) span {
  display: block;
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 26px;
  font-style: normal;
}

#wrap .sec5 .contain article ul.schedule > li > ul > li:nth-of-type(3) span sub {
  vertical-align: baseline;
  font-size: 16px;
}

#wrap .sec6 {
  width: 100%;
  height: 100vh;
  background-color: rgba(64, 54, 54, 0.7);
}

#wrap .sec6 .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
}

#wrap .sec6 .contain h4 {
  width: 87.5%;
  font-family: "Bodoni Moda", serif;
  font-size: 71px;
  font-weight: 700;
  font-style: italic;
  color: #d99f7e;
  text-align: left;
  margin-bottom: 40px;
}

#wrap .sec6 .contain > div.mv {
  width: 41.7%;
  position: relative;
  margin-right: 10px;
}

#wrap .sec6 .contain > div.mv a {
  position: relative;
  display: block;
  padding: 20px 0 40px 10px;
}

#wrap .sec6 .contain > div.mv a::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/video_daisy.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  opacity: 0;
  -webkit-transform: translate(-35%, -25%);
          transform: translate(-35%, -25%);
  -webkit-transition: opacity 1s ease-out, -webkit-transform 1.5s ease-out;
  transition: opacity 1s ease-out, -webkit-transform 1.5s ease-out;
  transition: opacity 1s ease-out, transform 1.5s ease-out;
  transition: opacity 1s ease-out, transform 1.5s ease-out, -webkit-transform 1.5s ease-out;
}

#wrap .sec6 .contain > div.mv a.on::after {
  opacity: 1;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

#wrap .sec6 .contain > div.mv a figure {
  width: 55%;
  position: relative;
  z-index: 1;
}

#wrap .sec6 .contain > div.mv a figure > img {
  width: 100%;
}

#wrap .sec6 .contain > div.mv a figure figcaption {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 54, 54, 0.5);
  font-family: "Bodoni Moda", serif;
  font-weight: bold;
  font-size: 1.5vw;
  font-style: normal;
  text-align: center;
  padding-top: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f2ebdc;
  letter-spacing: -1px;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  text-transform: uppercase;
}

#wrap .sec6 .contain > div.mv a > img {
  width: 70%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#wrap .sec6 .contain > div.mv a:hover figure figcaption {
  opacity: 1;
}

#wrap .sec6 .contain > div.videoclip {
  width: 45.3%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#wrap .sec6 .contain > div.videoclip article {
  width: 100%;
  margin-bottom: 10px;
}

#wrap .sec6 .contain > div.videoclip article h5 {
  width: 100%;
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 36px;
  font-style: normal;
  color: #f2ebdc;
  letter-spacing: -2.66px;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 10px;
}

#wrap .sec6 .contain > div.videoclip article ul.videolist {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap .sec6 .contain > div.videoclip article ul.videolist li {
  width: 23%;
  margin: 0 1%;
}

#wrap .sec6 .contain > div.videoclip article ul.videolist li a {
  width: 100%;
}

#wrap .sec6 .contain > div.videoclip article ul.videolist li a figure {
  width: 100%;
  position: relative;
}

#wrap .sec6 .contain > div.videoclip article ul.videolist li a figure img {
  display: block;
  width: 100%;
}

#wrap .sec6 .contain > div.videoclip article ul.videolist li a figure figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Bodoni Moda", serif;
  font-weight: bold;
  font-size: 1vw;
  font-style: normal;
  text-align: center;
  padding-top: 19%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f2ebdc;
  letter-spacing: -1px;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  background-color: rgba(64, 54, 54, 0.5);
}

#wrap .sec6 .contain > div.videoclip article ul.videolist li:hover a figure figcaption {
  opacity: 1;
}

#wrap .sec6 .contain > div.videoclip article.liveclip ul.videolist {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#wrap .sec7 {
  width: 100%;
  height: 100vh;
  background-color: rgba(64, 54, 54, 0.7);
}

#wrap .sec7 .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

#wrap .sec7 .contain h4 {
  width: 87.5%;
  font-family: "Bodoni Moda", serif;
  font-size: 71px;
  font-weight: 700;
  font-style: italic;
  color: #d99f7e;
  text-align: left;
}

#wrap .sec7 .contain article {
  width: 87.5%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

#wrap .sec7 .contain article a {
  display: block;
  width: 18%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

#wrap .sec7 .contain article a::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

#wrap .sec7 .contain article a div {
  position: absolute;
  width: 100%;
  height: 100%;
}

#wrap .sec7 .contain article a div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#wrap #footer {
  width: 100%;
  height: 200px;
  background-color: #403636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

#wrap #footer .logo {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap #footer .logo img {
  width: 60px;
}

#wrap #footer address {
  width: 75%;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  color: #f2ebdc;
  padding-top: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
