// 변수 설정 - 폰트 이름
$bodoni: 'Bodoni Moda', serif;
$tenor: 'Tenor Sans', sans-serif;
$spoqa:'Spoqa Han Sans Neo', sans-serif;

// 변수 설정 - 컬러
$white: #F2EBDC;
$black: #403636;
$brown: #D99F7E;
$green: #B1BF9B;

// 믹스인 설정
@mixin secTitle($size, $color) {
  font-family: $bodoni;
  font-size: $size;
  font-weight: 700;
  font-style: italic;
  color: $color;
}

@mixin font($family, $weight, $size, $style){
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  font-style: $style;
}

.videoback{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
  overflow: hidden;
  display: flex;
  video{
    object-fit: cover;
    width: 100%;
  }
}
.title{
  cursor: pointer;
  .typo{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-image: url("../images/wdicy_typo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
#wrap{
  display: none;
  .sec1{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    .contain{
      width: 100%;
      height: 100%;
      position: relative;
      .sub_title{
        position: absolute;
        top: 3.4%; left: 2.1%;
        span{
          display: block;
          @include font($tenor, normal, 53px, normal);
          line-height: 1.13;
          letter-spacing: -3.92px;
          text-align-last: left;
          color: $white;
          text-transform: uppercase;
        }
      }
      h4.main_title{
        position: absolute;
        top: 50%; left: 2.1%;
        transform: translateY(-50%);
        div{
          span{
            display: block;
            height: 180px;
            @include font($bodoni, 800, 155px, normal);
            text-align: center;
            color: transparent;
            letter-spacing: -9.92px;
            -webkit-text-stroke: 1px $white;
            text-transform: uppercase;
            margin-right: 20px;
            padding-right: 10px;
            cursor: pointer;
            overflow: hidden;
            float: left;
            &:hover{
              -webkit-text-stroke: 0;
              color: $white;
            }
          }
        }
      }
      p.release{
        @include font($bodoni, bold, 40px, italic);
        color: $white;
        position: absolute;
        bottom: 2.6%; right: 2.1%;
      }
    }
  }
}