.videoback {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videoback video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.title {
  cursor: pointer;
}

.title .typo {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../images/wdicy_typo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#wrap {
  display: none;
  position: relative;
}

#wrap .menu_btn {
  display: block;
  position: fixed;
  top: 4.7%;
  right: 2.1%;
  width: 60px;
  z-index: 1;
}

#wrap .menu_btn span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #F2EBDC;
  margin-bottom: 11px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#wrap .menu_btn span:last-child {
  margin: 0;
}

#wrap .menu_btn.active span:nth-child(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
          transform: translateY(15px) rotate(-45deg);
}

#wrap .menu_btn.active span:nth-child(2) {
  opacity: 0;
}

#wrap .menu_btn.active span:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
          transform: translateY(-15px) rotate(45deg);
}

#wrap .sec1 {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

#wrap .sec1 .contain {
  width: 100%;
  height: 100%;
  position: relative;
}

#wrap .sec1 .contain .sub_title {
  position: absolute;
  top: 3.4%;
  left: 2.1%;
}

#wrap .sec1 .contain .sub_title span {
  display: block;
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  font-size: 53px;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: -3.92px;
  text-align-last: left;
  color: #F2EBDC;
  text-transform: uppercase;
}

#wrap .sec1 .contain h4.main_title {
  position: absolute;
  top: 50%;
  left: 2.1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#wrap .sec1 .contain h4.main_title div span {
  display: block;
  height: 180px;
  font-family: "Bodoni Moda", serif;
  font-weight: 800;
  font-size: 155px;
  font-style: normal;
  text-align: center;
  color: transparent;
  letter-spacing: -9.92px;
  -webkit-text-stroke: 1px #F2EBDC;
  text-transform: uppercase;
  margin-right: 20px;
  padding-right: 10px;
  cursor: pointer;
  overflow: hidden;
  float: left;
}

#wrap .sec1 .contain h4.main_title div span:hover {
  -webkit-text-stroke: 0;
  color: #F2EBDC;
}

#wrap .sec1 .contain p.release {
  font-family: "Bodoni Moda", serif;
  font-weight: bold;
  font-size: 40px;
  font-style: italic;
  color: #F2EBDC;
  position: absolute;
  bottom: 2.6%;
  right: 2.1%;
}
