@import "reset.scss";

body{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar{
  display: none;
}

.scroll{
  width: 100%;
  height: 5px;
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 3;
  background-color: transparent;
  span{
    display: block;
    width: 0%;
    height: 100%;
    background-color: $white;
    box-shadow: 0 0 3px rgba($black, 0.3);
  }
}

.videoback {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -10;
  overflow: hidden;
  display: flex;
  video {
    object-fit: cover;
    width: 100%;
  }
}
.title {
  cursor: pointer;
  .typo {
    width: 100%;
    height: 100vh;
    height: var(--app-height, 100vh);
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../images/wdicy_typo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.contain {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-right: 30px;
  box-sizing: border-box;
}

#wrap {
  display: none;
  position: relative;
  #nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    height: var(--app-height, 100vh);
    background-color: rgba($brown, 0.95);
    .menu {
      width: 100%;
      height: 100%;
      padding: 10vh 2.1% 5vh 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      li {
        width: 92%;
        text-align: right;
        position: relative;
        a {
          @include menuText(71px, $black);
          letter-spacing: -4.54px;
          transition: color 0.3s ease;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: rgba($white, 0);
          transition: all 0.3s ease;
        }
        &:hover {
          a {
            color: $white;
          }
          &::after {
            background-color: rgba($white, 1);
          }
        }
        &.sns{
          text-align: left;
          padding-top: 50px;
          .icon{
            display: inline-block;
            width: 30px;
            height: 30px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 25px;
            &.youtube{
              background-image: url(../images/youtube-brands.svg);
            }
            &.instagram{
              background-image: url(../images/instagram-brands.svg);
            }
            &.twitter{
              background-image: url(../images/twitter-brands.svg);
            }
            &.facebook{
              width: 26px;
              background-image: url(../images/facebook-f-brands.svg);
              margin: 0;
            }
          }
          &:hover {
            a {
              color: $white;
            }
            &::after {
              background-color: rgba($white, 0);
            }
          }
        }
      }
    }
  }
  .menu_btn {
    display: block;
    position: fixed;
    top: 4.7%;
    right: 2.1%;
    width: 60px;
    z-index: 10;
    span {
      display: block;
      width: 100%;
      height: 4px;
      background-color: $white;
      box-shadow: 0 0 8px rgba($black, 0.5);
      margin-bottom: 11px;
      transition: all 0.4s;
      &:last-child {
        margin: 0;
      }
    }
    &.active {
      span {
        box-shadow: none;
        &:nth-child(1) {
          transform: translateY(15px) rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-15px) rotate(45deg);
        }
      }
    }
  }
  .sec1 {
    width: 100%;
    height: 100vh;
    height: var(--app-height, 100vh);
    background-color: rgba($black, 0.7);
    .sub_title {
      position: absolute;
      top: 3.4%;
      left: 2.1%;
      span {
        display: block;
        @include font($tenor, normal, 53px, normal);
        line-height: 1.13;
        letter-spacing: -3.92px;
        text-align-last: left;
        color: $white;
        text-transform: uppercase;
      }
    }
    .main_title {
      position: absolute;
      top: 50%;
      left: 2.1%;
      transform: translateY(-50%);
      div {
        span {
          display: block;
          height: 180px;
          @include font($bodoni, 800, 155px, normal);
          text-align: center;
          color: transparent;
          letter-spacing: -9.92px;
          -webkit-text-stroke: 1px $white;
          text-transform: uppercase;
          margin-right: 20px;
          padding-right: 10px;
          cursor: pointer;
          overflow: hidden;
          float: left;
          &:hover {
            -webkit-text-stroke: 0;
            color: $white;
          }
        }
      }
    }
    p.release {
      @include font($bodoni, bold, 40px, italic);
      color: $white;
      position: absolute;
      bottom: 2.6%;
      right: 2.1%;
    }
  }
  .sec2 {
    width: 100%;
    height: 100vh;
    background: rgba($black, 0.7);
    .contain {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: stretch;
      figure {
        width: 35%;
        margin-right: 5.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          max-width: 672px;
        }
      }
      article {
        text-align: right;
        width: 47%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h4 {
          @include secTitle(71px, $brown);
          margin-bottom: 2%;
        }
        h5 {
          @include font($spoqa, bold, 22px, normal);
          color: $white;
          margin-bottom: 20px;
        }
        p {
          @include font($spoqa, normal, 18px, normal);
          text-indent: 10px;
          color: $white;
          text-align: justify;
          letter-spacing: -1px;
          margin-bottom: 20px;
          &:last-of-type {
            margin-bottom: 40px;
          }
        }
        button {
          @include font($spoqa, bold, 22px, normal);
          color: $black;
          letter-spacing: -1px;
          width: 200px;
          height: 50px;
          background-color: $white;
          border-radius: 70px;
          text-indent: 20px;
          align-self: flex-end;
          cursor: pointer;
        }
      }
    }
    .physical{
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 20;
      top: 0; left: 0;
      background: rgba($black, 0.9);
      overflow-x: hidden;
      overflow-y: scroll;
      article{
        width: 90%;
        margin: 0 auto;
        padding: 40px 0;
        position: relative;
        text-align: center;
        h5{
          width: 100%;
          @include secTitle(71px, $white);
          margin-bottom: 20px;
          text-align: left;
        }
        .close_btn {
          display: block;
          position: fixed;
          width: 60px;
          top: 10%; right: 4%;
          span {
            display: block;
            width: 100%;
            height: 4px;
            background-color: $white;
            margin-bottom: 11px;
            &:nth-child(1) {
              transform: translateY(15px) rotate(-45deg);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: translateY(-15px) rotate(45deg);
              margin: 0;
            }
          }
        }
        img{
          width: 85%;
        }
      }
    }
  }
  .sec3 {
    width: 100%;
    height: 100vh;
    background-color: $white;
    .contain {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: stretch;
      h4 {
        width: 87.5%;
        @include secTitle(71px, $green);
      }
      figure {
        width: 41%;
        margin-right: 4%;
        div {
          width: 100%;
          height: 100%;
          position: relative;
          &::after{
            content: '';
            display: block;
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background-image: url(../images/profile_daisy.png);
            background-size: 60.75%;
            background-repeat: no-repeat;
            background-position: 106% -21%;
            opacity: 0;
            transform: translate(-30%, 10%);
            transition: opacity 1.5s ease-out,
                        transform 2s ease-out;
          }
          &.on{
            &::after{
              opacity: 1;
              transform: translate(0%, 0%);
            }
          }
        }
        img {
          width: 73%;
          margin-top: 11%;
          position: relative;
          z-index: 1;
        }
      }
      article {
        width: 42.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        box-sizing: border-box;
        h5 {
          padding-top: 11%;
          span {
            &:first-child {
              @include font($tenor, normal, 70px, normal);
              letter-spacing: -5px;
              text-transform: uppercase;
              margin-right: 7px;
            }
            &:last-child {
              @include font($spoqa, normal, 36px, normal);
              letter-spacing: -2.66px;
            }
          }
        }
        ul.profile {
          width: 100%;
          li {
            width: 100%;
            span {
              &:first-child {
                display: inline-block;
                width: 25%;
                @include font($spoqa, normal, 1.4vw, normal);
                text-align: right;
                line-height: 1.58;
                letter-spacing: -0.5px;
                margin-right: 1%;
                text-transform: uppercase;
              }
              &:last-child {
                display: inline-block;
                @include font($spoqa, 300, 1.4vw, normal);
                line-height: 1.58;
                letter-spacing: -0.5px;
              }
              sub {
                vertical-align: baseline;
                font-size: smaller;
              }
            }
          }
        }
        button {
          align-self: flex-end;
          @include font($spoqa, bold, 22px, normal);
          color: $white;
          letter-spacing: -1px;
          width: 200px;
          height: 50px;
          background-color: $green;
          border-radius: 70px;
          text-indent: 10px;
        }
      }
    }
  }
  .sec4 {
    width: 100%;
    height: 100vh;
    background-color: rgba($black, 0.7);
    .contain {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: stretch;
      h4 {
        width: 87.5%;
        @include secTitle(71px, $brown);
      }
      article {
        width: 38.5%;
        margin-right: 4%;
        ul.track_list {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          li {
            width: 100%;
            height: 50px;
            max-height: 50px;
            overflow: hidden;
            cursor: pointer;
            transition: max-height 0.6s ease-in-out;
            h5 {
              width: 100%;
              @include font($spoqa, 300, 32px, normal);
              letter-spacing: -0.8px;
              color: $white;
              position: relative;
              margin-bottom: 5px;
              sub {
                vertical-align: baseline;
                font-weight: 300;
                font-size: 16px;
              }
              &::after {
                content: "";
                display: block;
                width: 25px;
                height: 25px;
                position: absolute;
                top: 50%;
                right: 0;
                background-image: url(../images/play.svg);
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 0;
                transform: translateY(-50%);
                transition: opacity 0.2s ease;
              }
              &.active::after {
                background-image: url(../images/pause.svg);
              }
              &:hover {
                &::after {
                  opacity: 1;
                }
              }
            }
            p {
              width: 100%;
              @include font($spoqa, normal, 22px, normal);
              text-indent: 10px;
              letter-spacing: -0.5px;
              color: $white;
            }
            &.active {
              height: auto;
              max-height: 330px;
              h5 {
                font-weight: bold;
                letter-spacing: -0.8px;
                color: $white;
                &::after {
                  opacity: 1;
                }
                sub {
                  vertical-align: baseline;
                  font-size: 16px;
                  font-weight: 300;
                }
              }
            }
          }
        }
      }
      figure {
        width: 45%;
        > div {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          &::after{
            content: '';
            display: block;
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background-image: url(../images/rose.png);
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: 10% 90%;
            opacity: 0;
            transform: translate(10%, -15%);
            transition: opacity 2s ease-out,
                        transform 1.5s ease-out;
          }
          &.on{
            &::after{
              opacity: 1;
              transform: translate(0%, 0%);
            }
          }
          img {
            position: relative;
            z-index: 1;
            &.cd {
              width: 65%;
              &.active {
                animation: rotate360 12s linear infinite;
              }
            }
            &:last-of-type {
              width: 53%;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
  .sec5 {
    width: 100%;
    height: 90vh;
    background-color: $green;
    .contain {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      h4 {
        width: 87.5%;
        @include secTitle(71px, $white);
        text-align: center;
      }
      figure {
        width: 22%;
        min-width: 224px;
        position: relative;
        img {
          &:first-of-type {
            width: 100%;
          }
          &:nth-of-type(2) {
            width: 47%;
            animation: rotate360 8s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
          }
          &:last-of-type {
            width: 47%;
            animation: rotate360 8s linear infinite;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
      article {
        width: 87.5%;
        position: relative;
        div.line {
          width: 100%;
          height: 6px;
          background-color: $white;
          position: absolute;
          top: 43%;
        }
        ul.schedule {
          display: flex;
          justify-content: space-evenly;
          > li {
            margin-bottom: 15px;
            transition: all 0.2s ease-in-out;
            &:hover {
              transform: scale(1.05);
            }
            > ul {
              display: flex;
              flex-direction: column;
              align-items: center;
              > li {
                text-align: center;
                color: $white;
                &:nth-of-type(1) {
                  span {
                    display: block;
                    &:nth-of-type(1) {
                      @include font($tenor, normal, 34px, normal);
                    }
                    &:nth-of-type(2) {
                      @include font($tenor, normal, 16px, normal);
                    }
                  }
                }
                &:nth-of-type(2) {
                  width: 20px;
                  height: 20px;
                  background-color: $white;
                  border-radius: 50%;
                }
                &:nth-of-type(3) {
                  span {
                    display: block;
                    @include font($tenor, normal, 26px, normal);
                    sub {
                      vertical-align: baseline;
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .sec6 {
    width: 100%;
    height: 100vh;
    background-color: rgba($black, 0.7);
    .contain {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      align-content: center;
      h4 {
        width: 87.5%;
        @include secTitle(71px, $brown);
        text-align: left;
        margin-bottom: 40px;
      }
      > div.mv {
        width: 41.7%;
        position: relative;
        margin-right: 10px;
        a {
          position: relative;
          display: block;
          padding: 20px 0 40px 10px;
          &::after{
            content: '';
            display: block;
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background-image: url(../images/video_daisy.png);
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: 100% 100%;
            opacity: 0;
            transform: translate(-35%, -25%);
            transition: opacity 1s ease-out,
                        transform 1.5s ease-out;
          }
          &.on{
            &::after{
              opacity: 1;
              transform: translate(0%, 0%);
            }
          }
          figure {
            width: 55%;
            position: relative;
            z-index: 1;
            > img {
              width: 100%;
            }
            figcaption {
              position: absolute;
              top: 0px;
              left: 0px;
              width: 100%;
              height: 100%;
              background-color: rgba($black, 0.5);
              @include font($bodoni, bold, 1.5vw, normal);
              text-align: center;
              padding-top: 30%;
              box-sizing: border-box;
              color: $white;
              letter-spacing: -1px;
              opacity: 0;
              transition: opacity 0.4s ease;
              text-transform: uppercase;
            }
          }
          > img {
            width: 70%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }
          &:hover {
            figure {
              figcaption {
                opacity: 1;
              }
            }
          }
        }
      }
      > div.videoclip {
        width: 45.3%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        article {
          width: 100%;
          margin-bottom: 10px;
          h5 {
            width: 100%;
            @include font($tenor, normal, 36px, normal);
            color: $white;
            letter-spacing: -2.66px;
            text-transform: uppercase;
            text-align: right;
            margin-bottom: 10px;
          }
          ul.videolist {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
              width: 23%;
              margin: 0 1%;
              a {
                width: 100%;
                figure {
                  width: 100%;
                  position: relative;
                  img {
                    display: block;
                    width: 100%;
                  }
                  figcaption {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    @include font($bodoni, bold, 1vw, normal);
                    text-align: center;
                    padding-top: 19%;
                    box-sizing: border-box;
                    color: $white;
                    letter-spacing: -1px;
                    opacity: 0;
                    transition: opacity 0.4s ease;
                    background-color: rgba($black, 0.5);
                  }
                }
              }
              &:hover {
                a {
                  figure{
                    figcaption{
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
          &.liveclip {
            ul.videolist {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
  .sec7 {
    width: 100%;
    height: 100vh;
    background-color: rgba($black, 0.7);
    .contain {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-evenly;
      h4 {
        width: 87.5%;
        @include secTitle(71px, $brown);
        text-align: left;
      }
      article{
        width: 87.5%;
        height: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-evenly;
        a{
          display: block;
          width: 18%;
          overflow: hidden;
          position: relative;
          margin-bottom: 20px;
          &::after{
            content: '';
            display: block;
            padding-bottom: 100%;
          }
          div{
            position: absolute;
            width: 100%;
            height: 100%;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  #footer{
    width: 100%;
    height: 200px;
    background-color: $black;
    display: flex;
    justify-content: flex-start;
    position: relative;
    .logo{
      width: 12%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 60px;
      }
    }
    address{
      width: 75%;
      @include font($spoqa, 300, 18px, normal);
      text-align: center;
      color: $white;
      padding-top: 90px;
      box-sizing: border-box;
    }
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
