@charset "utf-8";

.container {
  width: 1280px;
  margin: 0 auto;
}

#wrap {
  width: 100%;
}

/* 헤더 시작 */

#header {
  background-color: #fff;
  width: 100%;
}

.header {
  width: 100%;
  height: 80px;
  position: relative;
}

.logo {
  float: left;
  padding-top: 4px;
  box-sizing: border-box;
}

.logo > a > img {
  width: 308px;
}

.submenu {
  float: right;
  margin: 5px;
}

.submenu > ul {
  overflow: hidden;
  position: relative;
  top: 22px;
}

.submenu > ul > li {
  float: left;
  margin-right: 28px;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}

.submenu > ul > li::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  width: 1px;
  height: 14px;
  margin-left: 28px;
  background-color: #707070;
}

.submenu > ul > li:last-child::after {
  display: none;
}

.m_menu_btn {
  display: none;
}

.fas {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
}

/* 헤더 끝 */

/* 네비게이션 시작 */

.nav {
  width: 100%;
  background-color: #540021;
  text-align: center;
  position: relative;
  z-index: 5;
}

.wing {
  display: none;
  width: 1280px;
  height: 200px;
  background-color: #540021;
  position: absolute;
  top: 60px;
  left: 0;
}

.nav > ul {
  height: 100%;
  display: flex;
  display: -ms-flexbox;
  margin: 0 auto;
  align-content: flex-start;
  justify-content: center;
}

.nav > ul > li {
  display: inline-block;
  position: relative;
}

.nav > ul > li > a {
  display: block;
  height: 60px;
  padding: 0 14px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  line-height: 55px;
}

.nav > ul > li > a:hover {
  color: #ddd;
}

.lnb {
  /* display: none; */
  position: absolute;
  width: 100%;
  display: none;
}

.lnb > li > a {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding: 5px 0;
}

.lnb > li > a:hover {
  color: #ddd;
}

#m_nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 10;
}

.m_nav_bg {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.m_nav {
  width: 70%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  position: relative;
  z-index: 15;
  box-shadow: 30px 0 60px rgba(0, 0, 0, 0.5);
}

.m_submenu {
  overflow: hidden;
  text-align: right;
  padding: 40px 30px;
}

.m_submenu > li {
  display: inline-block;
  margin-right: 22px;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}

.m_submenu > li::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  width: 1px;
  height: 14px;
  margin-left: 22px;
  background-color: #707070;
}

.m_submenu > li:last-child::after {
  display: none;
}

.m_nav > .m_menu_list {
  overflow: hidden;
  padding-left: 10%;
}

.m_nav > .m_menu_list > li > a {
  display: block;
  height: 100%;
  padding: 0 14px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  line-height: 55px;
}

.m_lnb {
  display: none;
}

.m_lnb > li > a {
  display: block;
  height: 100%;
  padding: 0 30px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  line-height: 40px;
}

/* 네비게이션 끝 */

/* 슬라이드 시작 */

.slide {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slide img {
  width: 100%;
}

.slick-arrow {
  width: 0;
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
  z-index: 1;
  background: none;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: 5%;
}

.slick-arrow.slick-prev::after {
  content: "\f053";
  font-family: "FontAwesome";
  font-size: 5vw;
  color: #fff;
  text-indent: 0;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.slick-next {
  right: 5%;
}

.slick-arrow.slick-next::after {
  content: "\f054";
  font-family: "FontAwesome";
  font-size: 5vw;
  color: #fff;
  text-indent: 0;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* 슬라이드 끝 */

/* 텍스트 배너 시작 */

#t_banner {
  width: 100%;
  background-image: linear-gradient(100deg, #a10040 1%, #4d3254 99%);
  overflow: hidden;
  position: relative;
  margin-top: 32px;
}

.bg1 {
  width: 308px;
  height: 271px;
  background-image: url(../image/symbol.png);
  background-size: 308px 271px;
  position: absolute;
  left: 5%;
  top: -30px;
  opacity: 0.5;
}

.bg2 {
  width: 308px;
  height: 308px;
  background-image: url(../image/thinking.svg);
  background-size: 308px 308px;
  position: absolute;
  right: 5%;
  bottom: -160px;
  opacity: 0.3;
}

.t_banner {
  width: 100%;
  height: 400px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.t_banner > h4 {
  font-family: "Noto Serif KR";
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  margin-top: 20px;
}

.t_banner > p {
  font-size: 16px;
  margin-top: 20px;
}

.t_banner > .icon {
  margin: 20px auto;
  overflow: hidden;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
}

.t_banner > .icon > div {
  float: left;
  margin: 0 2%;
}

.t_banner > .icon > div > div {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(132deg, #ecffce 16%, #c7ffe9 84%);
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
}

.t_banner > .icon > div > div > img {
  width: 130px;
}

.t_banner > .icon > div > p {
  margin-top: 10px;
  font-size: 14px;
}

/* 텍스트 배너 끝 */

/* 컨텐츠 시작 */

.contents {
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  overflow: hidden;
}

.contents > article {
  width: 31.333%;
  margin: 1%;
  float: left;
}

.contents > article:last-child {
  width: 64.666%;
}

.contents > article > .cont_title {
  width: 100%;
  height: 60px;
  border-radius: 0 20px 0 0;
  background-color: #610027;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 13px 0 0 30px;
  box-sizing: border-box;
}

.contents > article > .cont_contents {
  width: 100%;

  box-sizing: border-box;
  border: solid 1px #610027;
  background-color: #ffffff;
  border-radius: 0 0 0 20px;
}

.contents > .a_bot > .cont_contents {
  height: 360px;
}

/* 컨텐츠 끝 */

/* 컨텐츠 리스트 시작 */

.cont_list {
  overflow: hidden;
  padding: 20px;
}

.cont_list > li {
  margin-bottom: 10px;
}

.cont_list > li:last-child {
  margin: 0;
}

.cont_list > li > a {
  font-size: 14px;
}

.cont_list > li > a > span:first-child {
  display: inline-block;
  width: 70%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cont_list > li > a > span:last-child {
  float: right;
  text-align: right;
}

.cont_list2 {
  overflow: hidden;
  padding: 20px;
}

.cont_list2 > li {
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dbdbdb;
}

.cont_list2 > li:first-child {
  margin-top: 0;
}

.cont_list2 > li:last-child {
  border-bottom: 0;
}

.cont_list2 > li > a {
  font-size: 14px;
}

.cont_list2 > li > a > span:first-child {
  display: inline-block;
  width: 70%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cont_list2 > li > a > span:nth-child(2) {
  float: right;
  text-align: right;
}

.cont_list2 > li > a > span:last-child {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: 60px;
}

/* 컨텐츠 리스트 끝 */

/* 갤러리 (라이트박스) 시작 */

.s_gallery {
  width: 100%;
  height: 100%;
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  padding: 5px 0;
  box-sizing: border-box;
  position: static;
}

.s_gallery > a {
  display: block;
  width: 21%;
}

.s_gallery > a > img {
  width: 100%;
  display: block;
}

/* 갤러리 끝 */

/* 배너 시작 */

#banner {
  width: 100%;
  background-image: linear-gradient(97deg, #f8ffec 1%, #ebfff7 98%);
}

.banner {
  width: 100%;
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.banner > li {
  display: block;
  position: relative;
  width: 14%;
  margin: 30px 1%;
  border-radius: 50%;
  box-shadow: 2px 2px 4px 0 rgba(97, 0, 39, 0.31);
  background-image: linear-gradient(136deg, #a10040 3%, #4d3254 104%);
  text-align: center;
}

.banner > li::after {
  display: block;
  content: "";
  display: block;
  padding-bottom: 100%;
}

.banner > li > a > img {
  display: block;
  position: absolute;
  top: 43%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
}

.banner > li > a > h5 {
  display: block;
  width: 70%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

/* 배너 끝 */

/* 푸터 시작 */

#footer {
  width: 100%;
  background-color: #dbdbdb;
  overflow: hidden;
  margin-top: 32px;
  clear: both;
}

.footer {
  width: 100%;
}

.f_menu {
  text-align: center;
  overflow: hidden;
}

.f_menu > ul {
  margin-top: 25px;
  padding: 0 20px;
}

.f_menu > ul > li {
  display: inline;
  margin-right: 24px;
}

.f_menu > ul > li::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  width: 1px;
  height: 14px;
  margin-left: 24px;
  background-color: #707070;
}

.f_menu > ul > li:last-child::after {
  display: none;
}

.f_menu > ul > li > a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}

.f_logo {
  width: 35%;
  height: 150px;
  text-align: center;
  float: left;
}

.f_logo > img {
  margin-top: 36px;
  width: 90%;
  max-width: 308px;
}

.info {
  float: left;
  width: 65%;
}

.info > address {
  overflow: hidden;
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  align-content: center;
  height: 150px;
}

.info > address > p {
  float: left;
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  width: 374px;
  margin-bottom: 5px;
}

/* 푸터 끝 */

/* 컨텐츠 배너 시작 */

.cont_banner > figure {
  position: relative;
}

.cont_banner > figure > img {
  width: 100%;
}

.cont_banner > figure > figcaption {
  position: absolute;
  top: 116px;
  left: 250px;
}

.cont_banner > figure > figcaption > p:first-child {
  font-family: "Noto Serif KR", serif;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  color: #4d3254;
}
.cont_banner > figure > figcaption > p:last-child {
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: left;
  color: #610027;
}

/* 컨텐츠 배너 끝 */

/* 사이드 시작 */

#aside {
  float: left;
  width: 21%;
  margin: 32px 2% 32px;
}

.aside > .side_header {
  width: 100%;
  background-color: #610027;
  border-radius: 0 20px 0 0;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding: 13px 20px;
  box-sizing: border-box;
}

.aside > .side_menu {
  width: 100%;
  border-radius: 0 0 0 20px;
  border: solid 1px #540021;
  box-sizing: border-box;
}

.aside > .side_menu > li {
  width: 80%;
  margin: 0 10%;
  border-bottom: 1px solid #bdbdbd;
  box-sizing: border-box;
}
.aside > .side_menu > li:last-child {
  border-bottom: none;
}

.aside > .side_menu > li > a {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #540021;
  padding: 17px 0;
  box-sizing: border-box;
  text-indent: 10px;
}

/* 사이드 끝 */

/* 서브 컨텐츠 시작 */
#sub_contents {
  float: left;
  width: 73%;
  margin: 32px 1% 32px;
  overflow: hidden;
}

.sub_contents > .sub_cont_h {
  width: 100%;
  padding: 15px 0;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  text-indent: 15px;
  color: #540021;
  border-bottom: 1px solid #bdbdbd;
  box-sizing: border-box;
  margin-bottom: 44px;
}

.sub_contents > .sub_cont {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.sub_cont > article {
  width: 100%;
  margin-bottom: 96px;
  overflow: hidden;
}

.sub_cont > article > .title {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
}

.sub_cont > .cont1 > .text {
  width: 74%;
  float: left;
  margin-left: 1%;
}

.sub_cont > .cont1 > .text > p {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  color: #333333;
  text-indent: 7px;
  margin-bottom: 16px;
}

.sub_cont > .cont1 > .text > p:first-child {
  width: 100%;
  font-family: "Noto Serif KR";
  font-size: 40px;
  font-weight: bold;
  text-indent: 0;
}

.sub_cont > .cont1 > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  margin-right: 1%;
  float: left;
  text-align: center;
  padding: 10px 0;
}

.sub_cont > .cont1 > figure > img {
  width: 70%;
  text-align: center;
}

.sub_cont > .cont1 > figure > figcaption {
  width: 100%;
  font-family: "Noto Serif KR";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333333;
  margin-top: 10px;
}

.sub_cont > .cont2 > h6 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #540021;
}

.sub_cont > .cont2 > .icon {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
}

.sub_cont > .cont2 > .icon > div {
  width: 30%;
  text-align: center;
}

.sub_cont > .cont2 > .icon > div > div {
  width: 75%;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.sub_cont > .cont2 > .icon > div:nth-child(1) > div {
  background-image: linear-gradient(to bottom, #774600, #ab8959);
}
.sub_cont > .cont2 > .icon > div:nth-child(2) > div {
  background-image: linear-gradient(to bottom, #002617, #56663d);
}
.sub_cont > .cont2 > .icon > div:nth-child(3) > div {
  background-image: linear-gradient(to bottom, #540021, #4d3254);
}

.sub_cont > .cont2 > .icon > div > div::after {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}

.sub_cont > .cont2 > .icon > div > div > .inner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sub_cont > .cont2 > .icon > div > div > .inner > img {
  width: 55%;
  display: inline-block;
  margin-top: 15%;
}
.sub_cont > .cont2 > .icon > div > div > .inner > span {
  margin-top: 1%;
  display: inline-block;
  width: 70%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.sub_cont > .cont2 > .icon > div > span {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #333333;
  word-break: keep-all;
}

.sub_cont>.cont3{
  width: 50%;
  float: left;
}

.sub_cont>.cont4{
  width: 50%;
  float: left;
}

.sub_cont ul.text{
  padding-left: 16px;
}

.sub_cont ul.text>li{
  font-size: 16px;
  text-align: left;
  color: #333333;
  margin: 10px 0;
  word-break: keep-all;
}

.sub_cont ul.text>li::before{
  content: '- ';
}

/* 서브 컨텐츠 끝 */

/* 미디어 쿼리 시작 */

@media (max-width: 1300px) {
  .container {
    width: 100%;
  }

  .banner > li > a > h5 {
    display: block;
    font-size: calc(0.5vw + 12px);
  }

  .cont_banner > figure > figcaption {
    position: absolute;
    top: 35%;
    left: 20%;
    /* 컨텐츠 배너 텍스트 위치 반응형 변경 */
  }

  .cont_banner > figure > figcaption > p:first-child {
    font-size: 1.5vw;
    /* 컨텐츠 배너 텍스트 크기 반응형 변경 */
  }
  .cont_banner > figure > figcaption > p:last-child {
    font-size: 3vw;
    /* 컨텐츠 배너 텍스트 크기 반응형 변경 */
  }

  .sub_cont > .cont1 > .text > p:first-child {
    font-size: 3.2vw;
    /* 첫 아티클 텍스트 크기 반응형 변경 */
  }
}

@media (max-width: 1024px) {
  .contents > article {
    width: 48%;
    float: left;
    /* 한 row에 article 2개 배치 */
  }

  .contents > article:last-child {
    width: 98%;
    /* 새라갤러리는 단독 배치 */
  }

  .contents > article:nth-child(4) > .cont_contents {
    height: 248px;
    /* 진로진학정보 크기 변경 */
  }

  .cont_list2 > li:nth-child(2) {
    border-bottom: none;
    /* list 2개 변경 및 밑줄 삭제 */
  }

  .cont_list2 > li:nth-child(3) {
    display: none;
    /* list 2개 변경 및 밑줄 삭제 */
  }

  .info > address {
    justify-content: center;
    /* address 중앙배치로 변경 */
  }

  .banner > li > a > h5 {
    display: block;
    font-size: calc(0.5vw + 9px);
  }

  .contents > article:nth-child(5) > .cont_contents {
    height: auto;
    /* 새라갤러리 크기 자동 조절 */
  }

  .s_gallery > a {
    margin: 2% 2%;
    /* 갤러리 사진 마진 추가 */
  }

  .aside > .side_header {
    padding: 10px 20px;
    /* 사이드바 높이 감소 */
  }

  .aside > .side_menu > li > a {
    padding: 10px 0;
    /* 사이드바 높이 감소 */
  }

  .sub_cont > .cont1 > figure > figcaption {
    font-size: 1.7vw;
    /* 폰트 크기 반응형 변경 */
  }

  .sub_cont > .cont2 > h6 {
    font-size: 4vw;
    /* 폰트 크기 반응형 변경 */
  }

  .sub_cont > .cont2 > .icon > div > div > .inner > span {
    font-size: 2vw;
    /* 폰트 크기 반응형 변경 */
  }


}

@media (max-width: 768px) {
  .t_banner > .icon {
    width: 100%;
  }

  .banner > li {
    display: block;
    width: 28%;
    /* 배너 크기 재조정 */
  }

  .banner > li > a > h5 {
    display: block;
    width: 80%;
    font-size: calc(1vw + 12px);
    font-weight: 500;
    margin-top: 2%;
    color: #fff;
    /* 배너 글자크기 변경 */
  }

  #nav {
    display: none;
    /* nav 숨기기 */
  }

  #header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
    /* 헤더 고정형으로 변경 */
  }

  .m_menu_btn {
    display: block;
    /* 햄버거 버튼 표시 */
  }

  .logo {
    float: none;
    width: 100%;
    text-align: center;
    /* 로고 중앙 정렬 */
  }

  .submenu {
    display: none;
    /* 서브메뉴 숨기기 */
  }

  #slide {
    margin-top: 80px;
    /* fixed 포지션으로 인한 마진 추가 */
  }

  #t_banner {
    display: none;
    /* 텍스트 배너 숨기기 */
  }

  .contents {
    padding: 10px;
    /* .contents 패딩 감소 */
  }

  .contents > article {
    width: 98%;
    margin: 1%;
    margin-bottom: 3%;
    float: none;
    /* article row당 1개로 변경 */
  }

  .contents > article:nth-child(4) {
    display: none;
    /* 진로진학정보 삭제 */
  }

  .f_menu > ul > li::after {
    display: none;
    /* 푸터 메뉴 bar 삭제 */
  }

  .s_gallery > a {
    width: 29.333%;
  }

  .s_gallery > a:nth-child(4n) {
    display: none;
  }

  #cont_banner {
    display: none;
    /* 컨텐츠 배너 삭제 */
  }

  #aside {
    display: none;
    /* 사이드바 삭제 */
  }

  #sub_contents {
    width: 98%;
    float: none;
    margin-top: 80px;
    /* 컨텐츠 영역 최대화 및 헤더 가림 방지 마진 추가 */
  }

  .sub_cont > .cont1 > figure {
    display: none;
    /* 사진 삭제 */
  }

  .sub_cont > .cont1 > .text {
    width: 100%;
    margin: 0;
    float: none;
    /* 텍스트 영역 변경 */
  }

  .sub_cont > .cont1 > .text > p:first-child {
    font-size: 5.5vw;
    /* 폰트 크기 반응형 변경 */
  }

  .sub_cont > .cont2 > h6 {
    font-size: 5vw;
    /* 폰트 크기 반응형 변경 */
  }

  .sub_cont > .cont2 > .icon > div > div > .inner > span {
    font-size: 3vw;
    /* 폰트 크기 반응형 변경 */
  }

  .sub_contents > .sub_cont_h{
    width: 95%;
    margin: 10px auto 0; 
    font-size: 30px;
  }
}

@media (max-width: 520px) {
  .f_logo {
    width: 100%;
    height: 100px;
    /* 푸터 로고 재배치 */
  }

  .info {
    width: 100%;
    /* 하단 정보 재배치 */
  }

  .banner > li > a > h5 {
    display: block;
    font-size: calc(0.5vw + 12px);
    /* 배너 폰트 크기 조정 */
  }

  .banner > li {
    margin: 10px 1%;
    /* 배너 상하 마진 조정 */
  }

  .s_gallery > a {
    width: 46%;
    margin: 2% 1%;
  }

  .s_gallery > a:nth-child(3n) {
    display: none;
  }

  .sub_cont > .cont2 > .icon {
    flex-direction: column;
    align-items: center;
  }

  .sub_cont > .cont2 > .icon > div {
    width: 80%;
    margin-bottom: 32px;
  }

  .sub_cont > .cont2 > .icon > div > div > .inner > span {
    font-size: 7vw;
  }

  .sub_cont > .cont2 > .icon > div > span {
    font-size: 4vw;
  }

  .sub_cont>.cont3{
    width: 100%;
    float: none;
  }
  
  .sub_cont>.cont4{
    width: 100%;
    float: none;
  }

  .sub_cont ul.text>li{
    font-size: 4vw;
  }
}

@media (max-width: 400px) {
  .banner > li > a > h5 {
    display: block;
    font-size: calc(0.5vw + 9.5px);
    /* 배너 폰트 크기 조정 */
  }

  .logo > a > img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 헤더 로고 크기 반응형 변경 */
  }

  .info > address > p {
    font-size: 10px;
    text-align: center;
    /* 하단 정보 폰트 크기 조정 */
  }

  .f_menu > ul > li > a {
    font-size: 12px;
    /* 하단 메뉴 크기 조정 */
  }

  .cont_list > li > a {
    font-size: 12px;
    /* 컨텐츠 폰트 크기 조정 */
  }

  .contents > article > .cont_title {
    height: 40px;
    font-size: 16px;
    padding: 8px 0 0 20px;
    /* 컨텐츠 크기 조정 */
  }

  .cont_list {
    padding: 15px;
    /* 컨텐츠 패딩 조정 */
  }

  .s_gallery > a {
    width: 90%;
    margin: 3% 1%;
  }

  .s_gallery > a:nth-child(5n) {
    display: none;
  }
}

@media (max-width: 320px) {
  .banner > li > a > h5 {
    display: block;
    font-size: 10px;
    /* 배너 폰트 크기 조정 */
  }
}
